body {
  font-family: 'Exo 2', sans-serif;
}

#companies {
    font-size: 1.7em;
    margin-bottom: 0.9em;
}

p {
  font-size: 18px;
  line-height: 1.75;
}

ul li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.bigger {
    font-size: 1.2em;
}

.smaller {
    font-size: 0.8em;
}

a, a:hover, a:focus, a:active, a.active {
	outline: 0;
}

a {
    color: #08c;
    text-decoration: none;
}

a:hover, a:focus, a:active, a.active {
    color: #0af;
    text-decoration: underline;
}

header a,
header a:focus,
header a:active {
	color: #fff;
	text-decoration: underline;
}

header p {
	font-size: 1.4em;
	line-height: 2.1em;
}

#headline-logo {
    width: 100px;
    margin-top: -1.8em;
    margin-bottom: 2em;
}

#dates {
    margin: 2em 0 2.5em;
}

#dates div {
    font-size: 1.4em;
}

#dates div a {
    line-height: 1em;
    font-size: 1.5em;
}

#dates div .date {
    line-height: 2em;
    font-size: 1.2em;
    font-weight: 600;
}

#dates div .spot {
    width: 24px;
    height: 24px;
    background: center center url("../img/symfony-square-small.png") no-repeat;
    margin: .3em auto 0 auto;
}

h1,
h2,
h3 ,
{
  font-family: 'Exo 2', sans-serif;
  font-weight: 700; }

header {
    text-align: center;
    color: #fff;
    background: center center url("../img/header-bg.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding-top: 5em;
    padding-bottom: 5em;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: 'Exo 2', sans-serif;
    font-size: 40px;
    line-height: 40px;
}

header .intro-text .intro-heading {
    margin-bottom: 50px;
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
    font-size: 75px;
    line-height: 1.3em;
}

.section {
    padding: 3em 0;
}

.section:nth-child(odd) {
    background: #f5f5f5;
}

.section:nth-child(even) {
    background: #ffffff;
}

.section  h2 {
  margin-bottom: .5em;
  font-size: 3em;
  color: #8CD02C; }


footer {
    color: beige;
    padding: 25px 0;
    text-align: center;
    background: #18171b;
}

footer span.copyright {
  font-family: 'Exo 2', sans-serif; }

footer ul.quicklinks {
  margin-bottom: 0;
  /*text-transform: uppercase;*/
  /*text-transform: none;*/
  font-family: 'Exo 2', sans-serif;
  line-height: 40px; }

::-moz-selection {
  text-shadow: none;
  background: #8CD02C; }

::selection {
  text-shadow: none;
  background: #8CD02C; }

img::selection {
  background: 0 0; }

img::-moz-selection {
  background: 0 0; }

.text-center .img-responsive {
  margin: 0 auto; }

.mw-300 {
  max-width: 300px; }

.black {
  color: black; }

a.black:hover {
  color: black;
  text-decoration: underline; }

@media (max-width: 992px) {
  footer * {
    text-align: center !important; }
  footer div {
    margin-bottom: 15px; } }


#icons a {
	line-height: 3em;
}
