/* color palette: http://www.colourlovers.com/palette/46688/fresh_cut_day */
body {
    font-family: 'Arial', sans-serif;
    font-size: 17px;
    color: #222;
}

h1, h2, h3, h4 {
    font-family: Verdana, Tahoma, Helvetica, sans-serif;
}

p {
    line-height: 1.3em;
}

ul, ol {
    padding-left: 1.1em;
}

ul li, ol li {
    padding: 0;
    margin: 0;
    line-height: 1.5em;
}

ul.manual-list, ol.manual-list {
    margin-left: -.8em;
    -webkit-margin-before: 1.1em;
    -webkit-margin-after: 1.1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 22px;
}

a:hover, a:focus, a:active, a.active {
    color: #40C0CB;
    text-decoration: underline;
}

a {
    color: #00A8C6;
}

a:hover, a:focus, a:active {
    color: #40C0CB;
    text-decoration: underline;
}

/* menu */
header {
    padding: .2em;
    font-size: 1.1em;
    background: #00A8C6;
}

header nav a {
	color: #4bf4ff;
    display: inline-block;
    padding: .6em .7em;
}

header a.active, header nav a:focus, header nav a:active {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
    color: #fff;
}

.top-navigation {
    float: right;
}

.section {
    padding-top: 1.3em;
    padding-bottom: 3em;
}

.section.first-section {
    padding-top: 1em;
}

.bordered-img {
    border: 1px solid #DDD;
}

.intermezzo {
    padding: 1.5em 0;
    background: #F9F2E7;
    font-size: 1.2em;
}

.intermezzo-smaller {
    padding: 1em 0;
    background: #F9F2E7;
    font-size: 1em;
}

h1 {
    font-size: 3em;
    line-height: 1.5em;
    padding: 1em 0;
}

h2, .h2 {
    margin: .8em 0;
    font-size: 2.5em;
    line-height: 1.1em;
    padding: 0;
}

h2 small {
    color: inherit;
}

h1, h2, .h2, h3 {
    color: #8FBE00;
}

@media (max-width: 992px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.3em;
    }
}

#sponsor-logos img {
    padding: 1.3em;
}

#sponsor-logos a:hover {
    text-decoration: none;
}

.btn {
    font-size: 1em;
}

* img {
    max-width: 100%;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.highlights-list {
    font-size: 1.6em;
}

/* for kde-najdes-kamose.latte */
.grey-bg {
    background-color: #f5f5f5;
}

.input-group-btn button.btn {
    font-size: 14px !important;
}

#map {
    height: 500px;
}

#formMap {
    height: 400px;
    margin-top: 5px;
}

/* for slovnicek.latte */
#vocabulary > dd {
    border-bottom: 1px #eee solid;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

#vocabulary > dd:last-of-type {
    border-bottom: none;
}

#vocabulary sup {
    white-space: nowrap;
}

.text-greater {
    font-size: 1.3em;
}

/* index page */
#slack-logo {
    padding: 4em 0;
}

.manual-list {
    margin-top: 1em;
    margin-left: -.8em;
    line-height: 1.7em;
    font-size: 1.2em;
}

/* nicer, less-wide container */
@media (min-width: 768px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 940px;
    }
}

/* for blog.latte, _layout/post.latte */
#blog .perex {
    line-height: 1.5em;
}

#contest-rewards #blog {
    padding-top: 1em;
    padding-bottom: 3em;
}

#blog hr {
    margin-top: 2em;
    padding-bottom: 2em;
}

.metadataLine {
    font-size: .8em;
    color: #9d9d9d;
    margin-top: .4em;
    margin-bottom: .6em;
    line-height: 2.5em;
}

#article {
    padding-top: 1em;
}

#article h2, h3 {
    color: #111;
    font-weight: 600;
}

#article img {
    border: 1px solid #DDD;
    margin-top: .5em;
    margin-bottom: 1em;
}

#article h2 {
    margin-top: 1em;
    font-size: 1.5em;
}

h3 {
    margin-top: 1.3em;
    font-size: 1.25em;
}

#article #reviewed_by {
    font-size: .8em;
    color: #c1c1c1;
    margin: .3em 0;
}

#article-content {
    padding-top: 0;
}

#article #metadata-line {
    text-align: center;
    font-size: .8em;
    color: #a2a2a2;
    margin: 2em 0;
}

#article .perex {
    line-height: 1.5em;
    font-size: 1.2em;
}

#article blockquote {
    margin: 2em 0;
    font-size: 1em;
}

.intermezzo-smaller {
    margin: 1em 0 3em;
}

pre {
    font-size: 1em;
    background-color: #fdf6e3;
    padding-bottom: 1em;
    padding-left: 1em;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
    border-radius: 6px;
    padding-top: .3em;
}

pre[class*="language-"] {
    margin: 1em 0;
}

.success, .success a {
    color: #8FBE00;
}

nav a:hover, nav ul li.active a, nav a.active, nav a:active
{
    color: #FFF;
    text-decoration: none;
    background: #00A8C6;
}

#mobile-menu a {
    color: #4bf4ff;
    padding-left: 0;
    padding-right: 0;
}

#mobile-menu a.active, #mobile-menu a:hover {
    color: #FFF;
}

/* anchors for post headlines */
.anchor {
    padding-right: .3em;
    float: left;
    margin-left: -.9em;
}

.anchor, .anchor:hover {
    text-decoration: none;
}

h1 .anchor .anchor-icon, h2 .anchor .anchor-icon, h3 .anchor .anchor-icon, h4 .anchor .anchor-icon {
    visibility: hidden;
}

h1:hover .anchor-icon, h2:hover .anchor-icon, h3:hover .anchor-icon, h4:hover .anchor-icon {
    visibility: inherit;
}

.anchor-icon {
    display: inline-block;
}

.vertical-align {
    vertical-align: middle !important;
}

#article ol, #article ul {
    margin-bottom: .7em;
}

#contest-rewards td h3 {
    margin-top: 0;
}

#contest-description h2 {
    color: #111;
    font-weight: 600;
    font-size: 1.5em;
}

.main-logo {
    padding: 3em 0 2em;
    max-width: 100%;
}

.lead {
    margin: 1em 0;
    font-size: 1.3em;
}

.lead p {
    line-height: 1.5em;
}
