parameters:
    ignoreErrors:
        - '#^[a-zA-Z0-9\\]++::__construct\(\) does not call parent constructor from (?:Nette\\ComponentModel\\Component|Nette\\Application\\UI\\Presenter)#'

        # known value
        - '#Cannot call method render\(\) on Nette\\Application\\UI\\ITemplate\|stdClass#'

        # buggy
        - '#Property Pehapkari\\Website\\Tests\\Posts\\Year2017\\ListeningNetteComponents\\ListeningNetteComponentsTest::\$presenterFactory \(Nette\\Application\\IPresenterFactory\) does not accept object#'
        - '#Cannot call method (add|map)\(\) on array<Pehapkari\\Website\\Posts\\Year2018\\Cart\\Domain\\Item>|Doctrine\\Common\\Collections\\Collection#'
