---
layout: default
subpage: true
---

{% block content %}

<div class="section">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h2>
                    <em class="fa fa-question fa-fw"></em>
                    &nbsp;
                    Jak si nainstalovat PHP
                </h2>

                <div class="companies">
                    <div class="city">
                        <em class="fa fa-fw fa-windows"></em>
                        Pro Windows
                    </div>

                    <p>doplnit...</p>
                </div>

                <div class="companies">
                    <div class="city">
                        <em class="fa fa-fw fa-apple"></em>
                        Pro Maca
                    </div>

                    <p>doplnit...</p>
                </div>

                <div class="companies">
                    <div class="city">
                        <em class="fa fa-fw fa-linux"></em>
                        Pro Linux
                    </div>

                    <p>doplnit...</p>
                </div>

                <hr>

                <h2>
                    <em class="fa fa-bold fa-fw"></em>
                    &nbsp;
                    Jak stáhnout editor, který bude v mnohém pracovat za tebe
                </h2>

                <div class="companies">
                    <p>
                        Pracovat budeme s programem PHPStorm.
                        <br>
                        Zdarma stažení je verze, která ti bude fungovat po 30 dní. <a href="https://www.jetbrains.com/phpstorm/download">Stáhni si ji tady</a>!
                    </p>

                    <h3>A co po těch 30 dnech?</h3>

                    <p>
                        Pokud budeš chtít používat editor déle, můžeš využít EAP (Early Access Program) verze.
                        Ta je platná vždy měsíc. <a href="https://confluence.jetbrains.com/display/PhpStorm/PhpStorm+Early+Access+Program">Tady je stažení</a>.
                        <br>
                        Mnoho z nás to tak dělá, než si editor ošahá v praxi a rozhodne si ho opravdu koupit.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
