

parameters:
    page_title: "Děláš v PHP? Jsi jedním z nás"
    site_Url: "https://pehapkari.cz"
    github_edit_url_start: "https://github.com/pehapkari/pehapkari.cz/edit/master/source/"
    github_show_url_start: "https://github.com/pehapkari/pehapkari.cz/tree/master/"

    lang: "cs" # default language

    # services ID
    googleAnalyticsTrackingId: "UA-89860072-1"
    fbTrackingId: "201338863559186"
    disqusName: "pehapkari"

    # Statie configuration
    github_repository_slug: "pehapkari/pehapkari.cz"
    markdown_headline_anchors: TRUE
