<footer>
    <div class="container-fluid pt-3 pb-3">
        <div class="row">
            <div class="col-md-3 col-6">
                <h3 class="text-light">Pro tebe</h3>

                <ul>
                    <li><a href="/press">Média ke stažení</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-6">
                <h3 class="text-light">Přidej se</h3>
                <ul>
                    <li>
                        <a href="http://bit.ly/pehapkari-newsletter">Newsletter</a>
                        (<a href="http://us8.campaign-archive.com/home/?u=dcf4beafc191796bf6c47321f&id=c4f7564a7b">všechny</a>)
                    </li>
                    <li><a href="https://www.fio.cz/ib2/transparent?a=2301196632">Transparentní účet</a></li>
                    <li><a href="mailto:tomas@pehapkari.cz">Kontakt</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-6">
                <h3 class="text-light">Pracujeme</h3>
                <ul>
                    <li><a href="/vzdelavej-se">Školíme</a></li>
                    <li><a href="https://phpprague.cz">PHP Prague 2018</a></li>
                    {# todo - wip #}
                    {#<li><a href="/zacni-skolit">Pro školitele</a></li>#}
                </ul>
            </div>

            <div class="col-md-3 col-6 text-left">
                <h3 class="text-light mb-4">Sleduj nás na sítích</h3>

                <a href="https://www.meetup.com/friends-of-php-prague/" class="p-3 btn">
                    <em class="fa fa-2x fa-meetup"></em>
                </a>
                <a href="https://www.facebook.com/pehapkari" class="p-3 btn">
                    <em class="fa fa-2x fa-facebook"></em>
                </a>
                <a href="https://twitter.com/pehapkari" class="p-3 btn">
                    <em class="fa fa-2x fa-twitter"></em>
                </a>
                <a href="https://github.com/pehapkari" class="p-3 btn">
                    <em class="fa fa-2x fa-github"></em>
                </a>
                <a href="https://youtube.com/pehapkari/videos" class="p-3 btn">
                    <em class="fa fa-2x fa-youtube-play"></em>
                </a>
                <a href="https://pehapkari.slack.com" class="p-3 btn">
                    <em class="fa fa-2x fa-slack"></em>
                </a>
            </div>
        </div>

        <div class="row text-left pt-3">
            <div class="col-md-7 col-sm-6">
                <p class="powered-by">
                    Tento web jede na <a href="https://statie.org">Statie</a> a najdeš ho na <a href="https://github.com/pehapkari/pehapkari.cz">Githubu</a>.

                    {% if post is defined or lecture is defined %}
                        {% set item = lecture ?? post %}
                        {% set githubEditLink %}{{ item|githubEditPostUrl }}{% endset %}
                    {% elseif id is defined %}
                        {% set githubEditLink %}{{ github_edit_url_start }}{{ id }}.twig{% endset %}
                    {% endif %}

                    {% if githubEditLink is defined %}
                        <br>
                        <strong>Našel jsi chybu?</strong> <a href="{{ githubEditLink }}">Oprav nám ji</a> prosím
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</footer>

<script src="/assets/prism/prism.js"></script>
{#<script src="/assets/js/app.js"></script>#}
