<!DOCTYPE html>
<html lang="cs">
    <head>
        <title>{= $title ?? $pageTitle}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="description" content="Oficiální stránky PHP komunity">
        <meta name="keywords" content="PHP, komunita, programování">
        <meta name="author" content="http://pehapkari.cz">
        <meta name="robots" content="index, follow">

        {* mobile *}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">

        {* Font Awesome - locally for css classes autocomplete *}
        <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

        {* Twitter Bootstrap - locally for css classes autocomplete *}
        <link href="/assets/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />

        {* css *}
        <link href="/assets/css/style.css?v=newheader" rel="stylesheet">

        <link href="/favicon.ico" rel="shortcut icon">

        {* facebook *}
        <meta property="og:image" content="images/php-square.png">
    </head>

    <body>
        <header>
            <a href="/"><img src="/assets/images/logo-header.svg" alt=""></a>

            <nav class="top-navigation">
                <a href="/potkavame-se">srazy</a>
                <a href="/slovnicek">slovník</a>
            </nav>
        </header>

        {block content_wrapper}
            {block content}{/block}
        {/block}

        {ifset $isMap}
            <script async defer src="https://www.gstatic.com/firebasejs/3.5.3/firebase.js"></script>
            <script src="/assets/js/fireMap.js"></script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZnH6oy2-TO9VhtzUvZirtIlAwuOVGXP4&callback=initMaps"></script>
        {/ifset}

        {include "googleAnalytics"}
    </body>
</html>
