<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="description" content="Oficiální stránky PHP komunity">
        <meta name="keywords" content="PHP, komunita, programování">
        <meta name="author" content="https://pehapkari.cz">
        <meta name="robots" content="index, follow">

        {* socials *}
        <meta property="og:image" content="/images/php-square.png">
        {block socialTags}
        {/block}

        {* mobile *}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <link rel="alternate" type="application/rss+xml" title="Péhápkaři.cz Blog RSS" href="/rss.xml">

        {* Font Awesome - locally for css classes autocomplete *}
        <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

        {* Twitter Bootstrap - locally for css classes autocomplete *}
        <link href="/assets/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />

        {* css *}
        {block additionalCss}
        {/block}
        <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />

        <link href="/favicon.ico" rel="shortcut icon">

        <title>{= $title ?? $page_title}</title>
    </head>

    <body>
        {include "menu"}

        {block content_wrapper}
            {block content}{/block}
        {/block}

        {block additionalJavascript}
        {/block}

        {include "googleAnalytics"}
        {include "facebookPixel"}
    </body>
</html>
