<!DOCTYPE html>
<html lang="cs">
    <head>
        <title>{{ site.title }}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Oficiální stránky PHP komunity">
        <meta name="keywords" content="PHP, komunita, programování">
        <meta name="author" content="http://pehapkari.cz">
        <meta name="robots" content="index, follow">
        <meta property="og:image" content="images/php-square.png">

        {# verify html #}
        <meta name="google-site-verification" content="Ud43Nzds0JtHAlgRzCyt5J3o45ad_KTMC6jgjePrx7U" />

        {# css #}
        <link rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css">
        <link href="/assets/css/style.css" rel="stylesheet">

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
        <link href="/favicon.ico" rel="shortcut icon">

        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <!-- Facebook Pixel Code -->
        <script>
            !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
                n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
                t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
                    document,'script','//connect.facebook.net/en_US/fbevents.js');
            fbq('init', '201338863559186');
            fbq('track', "PageView");</script>
        <noscript><img height="1" width="1" style="display:none"
                       src="https://www.facebook.com/tr?id=201338863559186&ev=PageView&noscript=1"
            /></noscript>
        <!-- End Facebook Pixel Code -->
    </head>

    <body>
        <header>
            <h1>
                <a href="/">Děláš v PHP?<br>Jsi jedním z nás</a>
            </h1>
        </header>

        {% block content_wrapper %}
            {% block content %}{% endblock %}
        {% endblock %}

        {% if page.hideMainPartners is empty %}
            <footer>
                <div class="container">
                    <h2 class="text-center">
                        <em class="fa fa-hand-peace-o fa-fw"></em>
                        Děkujeme za podporu
                    </h2>

                    <div id="sponsor-logos" class="text-center row">
                        <a href="http://www.shopsys.cz">
                            <img src="/assets/images/sponsors/shopsys.png">
                        </a>
                        <a href="http://www.jebrains.cz">
                            <img src="/assets/images/sponsors/jetbrains.png">
                        </a>
                        <a href="http://www.rosti.cz">
                            <img src="/assets/images/sponsors/rosti.png">
                        </a>

                        <br>

                        <p>
                            Chceš se přidat k našim sponzorům? Napiš nám na <a href="mailto:tomas@pehapkari.cz">tomas@pehapkari.cz</a>
                        </p>
                    </div>

               </div>
            </footer>
        {% endif %}

        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-66556646-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
