<!DOCTYPE html>
<html lang="cs">
    {include "_snippets/head.latte"}

    <body>
        {include "_snippets/menu.latte"}

        {block content}{/block}
        {include "_snippets/footer.latte"}

        {block additionalJavascript}
        {/block}

        {include "_snippets/googleAnalytics.latte"}
        {include "_snippets/facebookPixel.latte"}
    </body>
</html>
