<!DOCTYPE html>
<html lang="cs">
    {include "head"}

    <body>
        {include "menu", "id" => "vzdelavej-se"}

        <div class="container">
            <h1 class="text-center">{$lecture->getName()}</h1>

            <div class="row">
                <div class="col-md-8">
                    <h2>O čem je školení</h2>
                    {$lecture->getContent()|noescape}
                </div>

                <div class="col-md-4">
                    {if $lecture->isActive()}
                        <p>Příští termín: <strong>{$lecture->getHumanDate()}</strong></p>

                        <p n:if="$lecture->getFbEventLink()">
                            <a href="{$lecture->getFbEventLink()}">Akce na FB</a>
                        </p>

                        {*<div class="col-md-4 col-12 text-md-right text-center">*}
                        <a href="{$lecture->getFormLink()}" class="btn btn-success">
                            <em class="fa fa-fw fa-handshake-o"></em>
                            Přihlásit se
                        </a>
                    {/if}

                    <h3>Školitel</h3>
                    <div>
                        <p>
                            <strong>Školí:</strong>
                            <a n:tag-ifset="$users[$lecture->getUserId()]['url']" href="{$users[$lecture->getUserId()]['url']}">
                                {$users[$lecture->getUserId()]['name']}
                            </a>
                        </p>



                        <img width="75" src="/assets/images/people/{$users[$lecture->getUserId()]['photo']}" class="img-thumbnail mb-2 rounded-circle">
                    </div>
                </div>
            </div>
        </div>

        {include "googleAnalytics"}
        {include "facebookPixel"}
    </body>
</html>

{block socialTags}
    {* Facebook sharing *}
    <meta property="og:type" content="lecture" />
    <meta property="og:title" content="{$lecture->getName()}" />
    {*<meta property="og:description" content="{$lecture['perex']|striptags}" />*}
    {*<meta property="og:url" content="{$site_url}/{$lecture['relativeUrl']}/" />*}

    {* Twitter sharing *}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{$lecture->getName()}" />
    {*<meta name="twitter:description" content="{$lecture['perex']|striptags}" />*}
{/block}

{block additionalCss}
    <link href="/assets/prism/prism.css?v=0.1" rel="stylesheet" type="text/css" />
    <link href="/assets/prism/prism-custom.css?v=0.1" rel="stylesheet" type="text/css" />
{/block}
