<!DOCTYPE html>
<html lang="cs">
    {include "head"}

    <body>
        {include "menu", "id" => "lectures"}

        <div class="container">
            {if $lecture->getImage()}
                <p class="text-center mt-5 d-none d-sm-block">
                    <img src="{$lecture->getImage()}" width="150">
                </p>
            {/if}

            <h1 class="text-center">{$lecture->getTitle()}</h1>

            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4">
                            <img width="100" src="/assets/images/people/{$users[$lecture->getUserId()]['photo']}" class="img-thumbnail mb-3 rounded-circle pull-left mr-3">
                        </div>
                        <div class="col-md">
                            <strong>{if $lecture->isInEnglish()}Lector{else}Školí{/if}:</strong>

                            <a n:tag-ifset="$users[$lecture->getUserId()]['url']" href="{$users[$lecture->getUserId()]['url']}">
                                {$users[$lecture->getUserId()]['name']}
                            </a>

                            <p n:ifset="$users[$lecture->getUserId()]['bio']">
                                „{$users[$lecture->getUserId()]['bio']|noescape}“
                            </p>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    {if $lecture->isActive()}
                        <p>
                            {if $lecture->isInEnglish()}Next term{else}Příští termín{/if}:
                            <strong>{$lecture->getHumanDate()}</strong>

                            {if $lecture->showAddToCalendarLink()}
                                <br>
                                <a href="https://www.google.com/calendar/render?action=TEMPLATE&text=Lecture:+{$lecture->getTitle()}&dates={$lecture->getStartInCalendarFormat()}/{$lecture->getEndInCalendarFormat()}&details=Details:+https://pehapkari.cz/{$lecture->getRelativeUrl()}&ctz=Europe/Prague&location=
{$places[$lecture->getPlaceId()]['google_calendar_place']}&sf=true&output=xml">
                                    <em class="fa fa-fw fa-calendar"></em>
                                    {if $lecture->isInEnglish()}Add to Calendar{else}Přidat do kalendáře{/if}
                                </a>
                            {/if}
                        </p>
                    {/if}

                    <p>
                        {if $lecture->isInEnglish()}Location{else}Místo{/if}:
                        <strong>
                            <a href="{$places[$lecture->getPlaceId()]['google_maps_link']}">
                                {$places[$lecture->getPlaceId()]['name']}
                            </a>
                        </strong>
                    </p>
                    <p>
                        {if $lecture->isInEnglish()}Duration{else}Délka{/if}:
                        <strong>{$lecture->getDuration()}</strong>
                    </p>

                    <p>
                        {if $lecture->isInEnglish()}Capacity{else}Kapacita{/if}:
                        <strong>{$lecture->getCapacity()}</strong>
                    </p>

                    <p>
                        {if $lecture->isInEnglish()}Price{else}Cena{/if}:
                        <strong>{$lecture->getPrice()|number: 0 , "," , " "} Kč</strong>
                    </p>

                    {if $lecture->isActive()}
                        <div class="text-center">
                            <a href="{$lecture->getFormLink()}" class="btn btn-success mt-4 mb-5">
                                <em class="fa fa-fw fa-handshake-o"></em>
                                &nbsp;
                                {if $lecture->isInEnglish()}Sign Up{else}Přihlásit se{/if}
                            </a>
                        </div>
                    {/if}
                </div>

                <div class="col-md-8">
                    {$lecture->getContent()|noescape}

                    {if $lecture->isInReferences($lecture_references)}
                        <hr>

                        <h3>Co o školení říkají účastníci?</h3>

                        <div class="row">
                            {foreach $lecture_references as $lecture_reference}
                                {continueIf $lecture_reference['lecture_id'] !== $lecture->getId()}

                                {include "lectureReference",
                                    "lecture_reference" => $lecture_reference,
                                    "active_lecture" => $lecture,
                                    "is_lecture_detail" => true
                                }
                            {/foreach}
                        </div>
                    {/if}
                </div>
            </div>
        </div>

        {include "footer"}

        {include "googleAnalytics"}
        {include "facebookPixel"}
    </body>
</html>

{block socialTags}
    {* Facebook sharing *}
    <meta property="og:type" content="lecture" />
    <meta property="og:title" content="{$lecture->getTitle()}" />
    {*<meta property="og:description" content="{$lecture['perex']|striptags}" />*}
    {*<meta property="og:url" content="{$site_url}/{$lecture['relativeUrl']}/" />*}

    {* Twitter sharing *}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{$lecture->getTitle()}" />
    {*<meta name="twitter:description" content="{$lecture['perex']|striptags}" />*}
{/block}

{block additionalCss}
    <link href="/assets/prism/prism.css?v=0.1" rel="stylesheet" type="text/css" />
    <link href="/assets/prism/prism-custom.css?v=0.1" rel="stylesheet" type="text/css" />
{/block}
