<!DOCTYPE html>
<html lang="cs">
    {include "head"}

    <body>
        {include "menu"}

        <div id="article">
            <div class="container">
                <h1 class="h2 text-center">{$post['title']}</h1>

                <div class="row text-center">
                    <div class="col-md-12">
                        {include "postMetadataLine", "post" => $post}
                        <div n:ifset="$post['reviewed_by']" id="reviewed_by">
                            <p>Peer-Reviewed by:
                                {foreach $post['reviewed_by'] as $reviewerId}
                                    {$authors[$reviewerId]['name']}{sep}, {/sep}
                                {/foreach}
                            </p>
                        </div>
                    </div>
                </div>

                <br>

                <div id="article-content">
                    <p class="perex">{$post['perex']|noescape}</p>

                    {$post['content']|noescape}
                </div>
            </div>

            <br>

            <div class="intermezzo">
                <div class="container">
                    {include relatedPosts, 'post' => $post}
                </div>
            </div>

            <div class="container">
                {include "disqusComments", 'post' => $post, 'showCommentCount' => true}
            </div>

            <br>
        </div>

        <script src="/assets/prism/prism.js"></script>
        <script id="dsq-count-scr" src="https://{$disqus_name}.disqus.com/count.js" async defer></script>

        {include "googleAnalytics"}
        {include "facebookPixel"}
    </body>
</html>


{block socialTags}
    {* Facebook sharing *}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{$post['title']}" />
    <meta property="og:description" content="{$post['perex']|striptags}" />
    <meta property="og:url" content="{$site_url}/{$post['relativeUrl']}/" />

    {* Twitter sharing *}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{$post['title']}" />
    <meta name="twitter:description" content="{$post['perex']|striptags}" />
{/block}


{block additionalCss}
    <link href="/assets/prism/prism.css?v=0.1" rel="stylesheet" type="text/css" />
    <link href="/assets/prism/prism-custom.css?v=0.1" rel="stylesheet" type="text/css" />
{/block}


{define relatedPosts}
    {var $relatedPosts = ($post|relatedItems)}

    {if count($relatedPosts)}
        <h2>You Might Also Like</h2>

        <ul id="related-posts">
            {foreach $relatedPosts as $relatedPost}
                <li>
                    <a href="/{$relatedPost['relativeUrl']}">{$relatedPost['title']} &raquo;</a>
                </li>
            {/foreach}
        </ul>
    {/if}
{/define}
