html, body {
  font-family: $font-family-primary;
  font-size: $font-size-default;
  color: $black;
  min-width: 350px;
  overflow: auto;
}

h1 {
  font-size: $font-size-xl;
  font-family: $font-family-secondary;
  font-weight: 600;
  opacity: $font-opacity-low;
  line-height: 48px;
}

h2 {
  font-size: $font-size-xl-mobile;
  font-family: $font-family-secondary;
  font-weight: 600;
  opacity: $font-opacity-low;
  line-height: 40px;
  margin-bottom: 0;
}

h3 {
  font-size: $font-size-default-mobile;
  font-family: $font-family-secondary;
  font-weight: 600;
  opacity: $font-opacity-low;
}

h6 {
  font-size: $font-size-default;
  font-weight: 600;
  opacity: $font-opacity-low;
  line-height: 28px;
}

p {
  font-size: $font-size-default-mobile;
  line-height: 32px;
  opacity: $font-opacity-high;
  margin-bottom: 0;
}

a {
  color: $black;

  &:hover {
    text-decoration-color: $black;
  }
}

@include media-breakpoint-up(md) {

  h1 {
    font-size: $font-size-xxl;
    line-height: 80px;
  }

  h2 {
    font-size: $font-size-xl;
    line-height: 48px;
  }

  p {
    font-size: $font-size-default;
  }

  h3 {
    font-size: $font-size-m;
  }
}
