pageTitle: "Děláš v PHP? Jsi jedním z nás"
siteUrl: "http://pehapkari.cz"
githubEditUrlStart: "https://github.com/pehapkari/pehapkari.cz/edit/master/source/"
githubShowUrlStart: "https://github.com/pehapkari/pehapkari.cz/tree/master/"

lang: "cs" # default language

# services ID
googleAnalyticsTrackingId: "UA-89860072-1"
fbTrackingId: "201338863559186"
disqusName: "pehapkari"

# Statie configuration
configuration:
    githubRepositorySlug: pehapkari/pehapkari.cz
    markdownHeadlineAnchors: TRUE
