authors:
    1:
        name: "Tomáš Votruba"
    2:
        name: "Pavel Rozehnal"
    3:
        name: "Michal Lulčo"
    4:
        name: "Petr Hejna"
    5:
        name: "Jáchym Toušek"
    6:
        name: "Tomáš Fejfar"
