authors:
    tomas.votruba:
        name: "Tomáš Votruba"
    pavel.rozehnal:
        name: "Pavel Rozehnal"
    muchal.lulco:
        name: "Michal Lulčo"
    petr.hejna:
        name: "Petr Hejna"
    jachym.tousek:
        name: "Jáchym Toušek"
    tomas.fejfar:
        name: "Tomáš Fejfar"
    tom.klima:
        name: "Tom Klíma"
    petr.vacha:
        name: "Petr Vácha"
    martina.hynkova:
        name: "Martina Hynková"
    petr.olisar:
        name: "Petr Olišar"
    tomas.pilar:
        name: "Tomáš Pilař"
    tomas.jacik:
        name: "Tomáš Jacík"
    martin.zlamal:
        name: "Martin Zlámal"
    ivan.kvasnica:
        name: "Ivan Kvasnica"
    matej.racinsky:
        name: "Matěj Račinský"
    jaroslav.hranicka:
        name: "Jaroslav Hranička"
    michael.moravec:
        name: "Michal Moravec"
    michal.spacek:
        name: "Michal Špaček"
