books:
	1:
		name: "Restart"
		description: "Provokativní, minimalistická a mimořádně poučná příručka zakladatelů známé americké firmy 37signals, proslavené úspěšnou webovou aplikací Basecamp a dalšími projekty, vás přinutí přehodnotit všechno, co jste se dosud dozvěděli o podnikání. Jak říká slavný guru marketingu Seth Godin: Tuto knihu můžete přehlížet jen na vlastní nebezpečí."
		publish_link: "https://www.melvil.cz/kniha-restart"
		actual_owner_name: "Tomáš Kazatel"
		actual_owner_link: "http://twitter.com/tomaskazatel"
		last_switch: "5. 1. 2017"
	2:
		name: "Práce na dálku"
		description: "Práce z domova nebo z kavárny nebo z pláže. Prostě nikoli jen z kanceláře, je nepřehlédnutelným a rychle se rozvíjejícím fenoménem. Trendem, který mohl vzniknout relativně nedávno díky rozvoji technologií, a přesto je něčím, co byste ani jako zaměstanavatel či zaměstnanec neměli přehlížet. Kniha nabízí odpovědi na všechny otázky, které vás napadají, vysvětlí postupy, doporučí nástroje, otevře oči. Přišel čas opustit kanceláře, již není na co čekat."
		publish_link: "https://www.melvil.cz/kniha-prace-na-dalku"
		actual_owner_name: "Martin Zlámal"
		actual_owner_link: "http://twitter.com/mrtnzlml"
		last_switch: "25. 1. 2017"
	3:
		name: "Startup za pakatel"
		description: "Bez nadsázky, tato kniha je doslova učebnicí malého podnikání. Autor díky důkladné analýze 1500 úspěšných malých podnikateslkých projektů přináší česrtvý pohled na to, jak s minimálními náklady, a tedy i riziky, začít svůj vlastní mikrobyznys."
		publish_link: "https://www.melvil.cz/kniha-startup-za-pakatel"
		actual_owner_name: "Tomáš Kazatel"
		actual_owner_link: "http://twitter.com/tomaskazatel"
		last_switch: "5. 1. 2017"
	4:
		name: "Druhý věk strojů"
		description: "Žijeme v době úžasného pokroku v oblasti digitálních technologií. Naše generace zdědila více příležitostí ke změně světa než všechny generace před ní. S novou knihou Brynjolfssona a McAfeeho objevíte blízkou budoucnost a vstoupíte do druhého věku strojů vybaveni informacemi, které vám a vašim dětem pomohou uspět."
		publish_link: "https://www.melvil.cz/kniha-druhy-vek-stroju"
		actual_owner_name: "Tomáš Kazatel"
		actual_owner_link: "http://twitter.com/tomaskazatel"
		last_switch: "5. 1. 2017"
	5:
		name: "Efektivní testování softwaru"
		description: "Jak sami autoři říkají: „Knihu jsme psali především pro začínající manažery testování, nebo pro zkušené testery či analytiky testování, kteří by se časem chtěli do role manažera testování profilovat. Kromě toho samozřejmě doufáme, že nové poznatky nebo nové úhly pohledu na jednotlivé problémy najdou v knize i zkušenější manažeři testování. Pro získání základního přehledu knihu doporučujeme i projektovým manažerům.“"
		publish_link: "http://www.grada.cz/efektivni-testovani-softwaru_8726/kniha/katalog/"
		actual_owner_name: "Tomáš Kazatel"
		actual_owner_link: "http://twitter.com/tomaskazatel"
		last_switch: "5. 1. 2017"
	6:
		name: "Hluboká práce"
		description: "Hluboká práce je podle Cala Newporta „nové IQ“ ekonomiky 21. století. Chcete-li dosáhnout lepších než průměrných výsledků, musíte se naučit pracovat s nástrojem, který je v éře internetu, multitaskingu a trvalé dostupnosti vlastně už jen pro vyvolené. Tedy pro ty, kteří vědí. Nechcete-li se celé dny dál babrat s mělkou prací a zůstávat v průměru, nezbývá vám než se díky této knize naučit vytěžit maximum ze svých schopností – pomocí hluboké práce."
		publish_link: "https://www.melvil.cz/kniha-hluboka-prace/"
		actual_owner_name: "Tomáš Votruba"
		actual_owner_link: "https://tomasvotruba.cz/kontakt"
		last_switch: "10. 2. 2017"
	7:
		name: "Nastavení mysli"
		description: "Nová psychologie úspěchu aneb naučte se využít svůj potenciál
		Za vaším úspěchem nestojí pouze schopnosti a talent, ale také váš přístup k nim: tzv. nastavení mysli. Profesorka Dwecková ve svém bestselleru vysvětluje, jak toto nastavení můžete změnit a jak napomoci lásce k učení a houževnatosti, které jsou základem úspěchu ve všech oblastech života."
		publish_link: "https://www.melvil.cz/kniha-nastaveni-mysli/"
		actual_owner_name: "Vašek Keberdle"
		actual_owner_link: "https://about.me/keberdle"
		last_switch: "12. 3. 2017"
	8:
		name: "Administrace systému Linux"
		description: "V originále „Linux Administration: A Beginner's Guide“Na úvod je dobré říct, že název v tomto případě nelže - kniha je skutečně určena uživatelům, kteří chtějí začít s administrací linuxového systému, lépe řečeno serveru. U čtenáře se předpokládají jen základní znalosti o hardware, principech fungování sítí a podobně, předchozí zkušenosti s Linuxem potřeba nejsou."
		publish_link: "http://www.abclinuxu.cz/clanky/recenze/administrace-systemu-linux"
		actual_owner_name: "Vašek Keberdle"
		actual_owner_link: "https://about.me/keberdle"
		last_switch: "12. 3. 2017"
