books :
	1 : 
		name : "Restart"
		description : "Provokativní, minimalistická a mimořádně poučná příručka zakladatelů známé americké firmy 37signals, proslavené úspěšnou webovou aplikací Basecamp a dalšími projekty, vás přinutí přehodnotit všechno, co jste se dosud dozvěděli o podnikání. Jak říká slavný guru marketingu Seth Godin: Tuto knihu můžete přehlížet jen na vlastní nebezpečí."
		publish_name : "Jan Melvil Publishing"
		publish_link : "https://www.melvil.cz/kniha-restart"
		actual_owner_name : "Tomáš Kazatel"
		actual_owner_link : "http://twitter.com/tomaskazatel"
		last_switch : "5. 1. 2016"
	2 : 
		name : "Práce na dálku"
		description : "Práce z domova nebo z kavárny nebo z pláže. Prostě nikoli jen z kanceláře, je nepřehlédnutelným a rychle se rozvíjejícím fenoménem. Trendem, který mohl vzniknout relativně nedávno díky rozvoji technologií, a přesto je něčím, co byste ani jako zaměstanavatel či zaměstnanec neměli přehlížet. Kniha nabízí odpovědi na všechny otázky, které vás napadají, vysvětlí postupy, doporučí nástroje, otevře oči. Přišel čas opustit kanceláře, již není na co čekat."
		publish_name : "Jan Melvil Publishing"
		publish_link : "https://www.melvil.cz/kniha-prace-na-dalku"
		actual_owner_name : "Tomáš Kazatel"
		actual_owner_link : "http://twitter.com/tomaskazatel"
		last_switch : "5. 1. 2016"
	3 : 
		name : "Startup za pakatel"
		description : "Bez nadsázky, tato kniha je doslova učebnicí malého podnikání. Autor díky důkladné analýze 1500 úspěšných malých podnikateslkých projektů přináší česrtvý pohled na to, jak s minimálními náklady, a tedy i riziky, začít svůj vlastní mikrobyznys."
		publish_name : "Jan Melvil Publishing"
		publish_link : "https://www.melvil.cz/kniha-startup-za-pakatel"
		actual_owner_name : "Tomáš Kazatel"
		actual_owner_link : "http://twitter.com/tomaskazatel"
		last_switch : "5. 1. 2016"
	4 : 
		name : "Druhý věk strojů"
		description : "Žijeme v době úžasného pokroku v oblasti digitálních technologií. Naše generace zdědila více příležitostí ke změně světa než všechny generace před ní. S novou knihou Brynjolfssona a McAfeeho objevíte blízkou budoucnost a vstoupíte do druhého věku strojů vybaveni informacemi, které vám a vašim dětem pomohou uspět."
		publish_name : "Jan Melvil Publishing"
		publish_link : "https://www.melvil.cz/kniha-druhy-vek-stroju"
		actual_owner_name : "Tomáš Kazatel"
		actual_owner_link : "http://twitter.com/tomaskazatel"
		last_switch : "5. 1. 2016"
	5 : 
		name : "Efektivní testování softwaru"
		description : "Jak sami autoři říkají: „Knihu jsme psali především pro začínající manažery testování, nebo pro zkušené testery či analytiky testování, kteří by se časem chtěli do role manažera testování profilovat. Kromě toho samozřejmě doufáme, že nové poznatky nebo nové úhly pohledu na jednotlivé problémy najdou v knize i zkušenější manažeři testování. Pro získání základního přehledu knihu doporučujeme i projektovým manažerům.“"
		publish_name : "Grada publishing"
		publish_link : "http://www.grada.cz/efektivni-testovani-softwaru_8726/kniha/katalog/"
		actual_owner_name : "Tomáš Kazatel"
		actual_owner_link : "http://twitter.com/tomaskazatel"
		last_switch : "5. 1. 2016"
	6 : 
		name : "Hluboká práce"
		description : "Hluboká práce je podle Cala Newporta „nové IQ“ ekonomiky 21. století. Chcete-li dosáhnout lepších než průměrných výsledků, musíte se naučit pracovat s nástrojem, který je v éře internetu, multitaskingu a trvalé dostupnosti vlastně už jen pro vyvolené. Tedy pro ty, kteří vědí. Nechcete-li se celé dny dál babrat s mělkou prací a zůstávat v průměru, nezbývá vám než se díky této knize naučit vytěžit maximum ze svých schopností – pomocí hluboké práce."
		publish_name : "Jan Melvil Publishing"
		publish_link : "https://www.melvil.cz/kniha-hluboka-prace/"
		actual_owner_name : "Tomáš Kazatel"
		actual_owner_link : "http://twitter.com/tomaskazatel"
		last_switch : "5. 1. 2016"