parameters:
    mentors:
        -
            name: "Milan Felix Šulc"
            location: "Hradec Králové"
            email: "sulcmil@gmail.com"
            # self-promo, co chceš mentorovat, max. 140 znaků
            intro_message: "Open Source Ninja - Nette, Componette, Planette, Contributte."
            # nepovinné: web, Twitter, FB..., stránka, kterou udržuješ a kde se něco dozvím
            link: "https://jfx.cz/"
            remote: true
        # confirmed
        -
            name: "Tomáš Fejfar"
            location: "Praha"
            email: "tomas.fejfar@gmail.com"
            intro_message: "Git, PhpStorm, vývoj v týmu"
            link: "https://www.tomasfejfar.cz/"
            remote: true
        # confirmed
        -
            name: "Jan Mikeš"
            location: "Ostrava"
            email: "j.mikes@me.com"
            intro_message: "Full stack s primárním zaměřením na backend (Nette) a čistý kód."
            link: "https://www.linkedin.com/in/jan-mikeš-0405996b"
            remote: true
        # confirmed
        -
            name: "Tom Klíma"
            location: "Praha"
            email: "tom@jakpsatphp.cz"
            intro_message: "clean PHP, biomedicine hacking & bitcoin are my favourite playgrounds"
            link: "https://twitter.com/tomtomklima"
            remote: true
        # confirmed
        -
            name: "Petr Fidler"
            location: "Praha"
            email: "petr@petrfidler.cz"
            intro_message: "Nette, Symfony, čistý kód, strategie a uživatelský výzkum"
            link: "http://www.petrfidler.cz/"
            remote: false
        -
            name: "Honza Novák"
            location: "Plzeň"
            email: "jan.novak@id-sign.com"
            intro_message: "PHP, Symfony, čistý kód, zkušenosti z projektů www.id-sign.com"
            link: "https://cz.linkedin.com/in/novakhonza"
            remote: false
        # confirmed
        -
            name: "Václav Makeš"
            location: "Praha, Most, Mladá Boleslav"
            email: "vaclav@makes.cz"
            intro_message: "struktura kódu, Git, PhpStorm"
            link: "http://www.makes.cz"
            remote: false
        -
            name: "Jan Šmíd"
            location: "Brno"
            email: "smid@fv.cz"
            intro_message: "13 let php aktivně/denní báze (vesměs cokoliv: {front|back}End architektura, údržba/cleaning legacy kódu, atp)"
            link: "http://jan.smid.sk"
            remote: true
        -
            name: "Michal Lulčo"
            location: "Bratislava"
            email: "michal.lulco@gmail.com"
            intro_message: "Potrebuješ niekoho na code review tvojich open source projektov v PHP? Rád ti s tým pomôžem."
            link: "https://github.com/lulco"
            remote: true
        # confirmed
        -
            name: "Jan Voráček"
            location: "Pardubice"
            email: "jan@voracek.net"
            intro_message: "PHP, TypeScript + NodeJS, čistý kód, architektura, Git, WordPress – zkušenosti z vývoje VersionPressu"
            link: "http://voracek.net"
            remote: true
        # confirmed
        -
            name: "Tomáš Pilař"
            location: "Chrudim"
            email: "email@tomaspilar.cz"
            intro_message: "PHP, Nette, Doctrine, Elasticsearch, čistý kód, architektura"
            link: "https://www.tomaspilar.cz"
            remote: false
        -
            name: "Tomáš Kavalek"
            location: "Kostelec nad Orlicí, Pardubice"
            email: "tomas.kavalek@gmail.com"
            intro_message: "S PHP jsem začínal ještě v minulém století :-) Nette, Symfony, Doctrine, Wordpress aj."
            link: "https://www.tomaskavalek.cz"
            remote: false
        # confirmed
        -
            name: "Michal Kovarčík"
            location: "Bratislava"
            email: "whedro@gmail.com"
            intro_message: "PHP, Symfony, code review"
            link: "https://www.linkedin.com/in/michal-kovarcik-40884021/"
            remote: false
        # confirmed
        -
            name: "Petr 'PePa' Pavel"
            location: "Praha"
            email: "petr.pavel@pepa.info"
            intro_message: "programuji a školím PHP (Nette), SQL/HTML/CSS/JS, 15 let zkušeností, fluent English"
            link: "https://www.naucmese.cz/kurz/programovani-pro-web-php-js"
            remote: true
        -
            name: "Eduard Štůla"
            location: "Plzeň"
            email: "eduard.stula@b-m.cz"
            intro_message: "PHP, PhpStorm, bezpečnost, GIT. Vedu vývoj v benes-michl.cz :)"
            link: "https://www.linkedin.com/in/eduardstula/"
            remote: false
        # confirmed
        -
            name: "Matěj Račinský"
            location: "Praha"
            email: "racinsky.matej@seznam.cz"
            intro_message: "PHP, PhpStorm, GIT, Doctrine, Nette, Java, architektura, bezpečnost, bitcoin, umělá inteligence"
            link: "https://github.com/racinmat"
            remote: false
        # confirmed
        -
            name: "Radek Hřebeček"
            location: "Praha"
            email: "radek@hrebecek.cz"
            intro_message: "PHP, Doctrine, Nette, ReactJS"
            link: "http://www.hrebecek.cz"
            remote: false
        # confirmed
        -
            name: "Eduard Barnáš"
            location: "Poprad"
            email: "barnas.edo@gmail.com"
            intro_message: "PHP, Nette, code review"
            link: "https://www.linkedin.com/in/edobarnas/"
            remote: true
        # confirmed
        -
            name: "Martin Lonský"
            location: "Ostrava"
            email: "martin.lonsky@aputime.com"
            intro_message: "ZF Cert. Engineer, ZF2 Cert. Architect; Angular.io"
            link: "https://www.linkedin.com/in/martin-lonsky-91b91a82/"
            remote: true
