parameters:
    organizers:
        # Prague
        -
            photo: tomas_votruba.jpg
            name: "Tomáš Votruba"
            responsibility: "vedení, komunikace, sponzoři, organizace srazů v Praze"
            url: tomasvotruba.cz
        -
            photo: honza_cerny.jpg
            name: "Honza Černý"
            responsibility: "<a href='https://www.nettecamp.cz/'>PoSobota</a>, <a href='https://www.nettecamp.cz/'>Nette Camp</a>, PHP Hory, <a href='https://forum.nette.org/cs/25487-nette-framework-emailovy-obcasnik#p169371'>Nette Občasník</a> a natáčení videí"
            url: honzacerny.com
        -
            photo: jakub_kratina.jpg
            name: "Jakub Kratina"
            responsibility: "organizace srazů v Praze, livestreamy a moderování"
            url: jakubkratina.cz

        # Pardubice
        -
            photo: vaclav_pavek.jpg
            name: "Václav Pávek"
            responsibility: "organizace PHP Pivo v Pardubicích"
            url: vaclavpavek.cz
        -
            photo: jan_kuchar.jpg
            name: "Jan Kuchař"
            responsibility: "livestreamy ze srazů"
            url: grifart.cz
        -
            photo: jan_kopp.jpg
            name: "Jan Kopp"
            responsibility: "organizace srazů v Pardubicích"
            url: digitalsolutions.cz
        -
            photo: filip_simerda.jpg
            name: "Filip Šimerda"
            responsibility: "organizace srazů v Pardubicích"
            url: digitalsolutions.cz
        -
            photo: nikol_jezkova.jpg
            name: "Nikol Ježková"
            responsibility: "organizace srazů v Českých Budějovicích"
            url: roxtri.cz
        -
            photo: martin_hlavac.jpg
            name: "Martin Hlaváč"
            responsibility: "organizace srazů v Českých Budějovicích"
            url: hlavacm.net
        -
            photo: petr_heinz.jpg
            name: "Petr Heinz"
            responsibility: "organizace srazů v Ostravě"
            url: shopsys.cz
