parameters:
    organizers:
        # Prague
        -
            photo: tomas_votruba.jpg
            name: "Tomáš Votruba"
            responsibility: "vedení, komunikace, sponzoři, organizace srazů v Praze"
            url: https://tomasvotruba.cz
        -
            photo: honza_cerny.jpg
            name: "Honza Černý"
            responsibility: "<a href='https://www.nettecamp.cz/'>PoSobota</a>, <a href='https://www.nettecamp.cz/'>Nette Camp</a>, PHP Hory, <a href='https://forum.nette.org/cs/25487-nette-framework-emailovy-obcasnik#p169371'>Nette Občasník</a> a natáčení videí"
            url: https://honzacerny.com/
        -
            photo: jakub_kratina.jpg
            name: "Jakub Kratina"
            responsibility: "organizace srazů v Praze, livestreamy a moderování"
            url: http://jakubkratina.cz/

        # Pardubice
        -
            photo: vaclav_pavek.jpg
            name: "Václav Pávek"
            responsibility: "organizace PHP Pivo v Pardubicích"
            url: https://www.vaclavpavek.cz/
        -
            photo: jan_kuchar.jpg
            name: "Jan Kuchař"
            responsibility: "livestreamy ze srazů"
            url: https://grifart.cz/
        -
            photo: jan_kopp.jpg
            name: "Jan Kopp"
            responsibility: "organizace srazů v Pardubicích"
            url: https://www.digitalsolutions.cz/
        -
            photo: filip_simerda.jpg
            name: "Filip Šimerda"
            responsibility: "organizace srazů v Pardubicích"
            url: https://www.digitalsolutions.cz/

        # České Budějovice
        -
            photo: nikol_jezkova.jpg
            name: "Nikol Ježková"
            responsibility: "organizace srazů v Českých Budějovicích"
            url: https://roxtri.cz/
        -
            photo: martin_hlavac.jpg
            name: "Martin Hlaváč"
            responsibility: "organizace srazů v Českých Budějovicích"
            url: http://hlavacm.net/

        # Ostrava
        -
            photo: petr_heinz.jpg
            name: "Petr Heinz"
            responsibility: "organizace srazů v Ostravě"
            url: https://cz.linkedin.com/in/petr-heinz-45912113b

        # Brno
        -
            photo: vaclav_cevela.jpg
            name: "Václav Čevela"
            responsibility: "organizace srazů v Brně"
            url: http://blog.spameri.cz

        # Slovakia
        -
            photo: edo_barnas.jpg
            name: "Edo Barnáš"
            responsibility: "organizace srazů na Slovensku"
            url: https://www.neoweb.sk

        -
            photo: richard_koza.jpg
            name: "Richard Koza"
            responsibility: "příprava newsletteru"
            url: https://www.umimeweby.cz
