rewards:
    2:
        title: "1001 tipů a triků pro PHP"
        product_link: "https://phpfashion.com/recenze-knihy-1001-tipu-a-triku-pro-php"
        image: "1001-php.jpg"
        winner:
#            name:
#            link:
    3:
        title: "Úplně nová mysl"
        product_link: "http://neoluxor.cz/odborne-knihy/uplne-nova-mysl--29453/"
        image: "uplne-nova-mysl.jpg"
        winner:
#            name:
#            link:
    4:
        title: "Návrhové vzory v PHP"
        product_link: "http://knihy.cpress.cz/navrhove-vzory-v-php.html"
        image: "navrhove-vzory.jpg"
        winner:
#            name:
#            link:
