rewards:
    1:
        title: "Principles of Package Design"
        product_link: "https://leanpub.com/principles-of-package-design"
        image: "principles.jpg"
        winner:
#            name:
#            link:
    2:
        title: "1001 tipů a triků pro PHP"
        product_link: "https://phpfashion.com/recenze-knihy-1001-tipu-a-triku-pro-php"
        image: "1001-php.jpg"
        winner:
#            name:
#            link:
    3:
        title: "Persistence in PHP with Doctrine ORM"
        product_link: "https://filip-prochazka.com/blog/kniha-persistence-in-php-with-doctrine-orm"
        image: "doctrine.jpg"
        winner:
#            name:
#            link:
    4:
        title: "Úplně nová mysl"
        product_link: "http://neoluxor.cz/odborne-knihy/uplne-nova-mysl--29453/"
        image: "uplne-nova-mysl.jpg"
        winner:
#            name:
#            link:
