trainings:
    1:
        name: "Jak na rapidní vývoj a Continuous Delivery"
        trainer_name: "Ondřej Mirtes"
        trainer_photo: "ondrej-mirtes.jpg"
        description: '''
    Zkracování <a href='https://ondrej.mirtes.cz/zkracovani-feedback-loop'>feedback loop</a>:
        <br>
        <ul>
            <li>Jak tvořit zadání se zadavatelem tak, aby vývoj proběhl hladce a zadavatel obdržel to, co chce?</li>
            <li>Jak zorganizovat práci v týmu a programovat tak, aby nedocházelo ke všemožným problémům, bugům na produkci nebo nefunkční aplikaci?</li>
            <li>Continuous Integration - vytvoření build skriptu, rozběhání CI serveru, doporučení k problematice</li>
            <li>Přerod zastaralé aplikace v novou bez kompletního přepisu - strangler pattern, jak na refaktoring</li>
            <li>Bezvýpadkové databázové migrace, bezvýpadkové a časté nasazování nových verzí aplikace</li>
        </ul>
        '''
        duration: "8 hodin"
        price: "4999 Kč"
        capacity: "4-8 lidí"
    2:
        name: "Ovládni PhpStorm &ndash; od základů po profi tipy"
        trainer_name: "Tomáš Fejfar"
        trainer_photo: "tomas-fejfar.jpg"
        description: '''
<ul>
    <li>Základy nastavení projektu</li>
    <li>Efektivní ovládání</li>
    <li>Navigace v kódu</li>
    <li>Refaktoring</li>
</ul>
        '''
        duration: "3 hodiny"
        price: "1599 Kč"
        capacity: "5-12 lidí"
    3:
        name: "Úvod do Gitu"
        trainer_name: "Václav Makeš"
        trainer_photo: "vaclav-makes.jpg"
        description: '''
        <ul>
            <li>Motivace proč se ho učit</li>
            <li>Use-cases, které Git efektivně řeší</li>
            <li>Pár slov k historii (opravdu pár, jen tak, aby člověk věděl co používá a proč je to dobré, na jakých principech Git stojí)</li>
            <li>První kroky s verzováním - vlastní repo, první commity</li>
            <li>Vypublikování repositáře na privátní nebo veřejný server</li>
            <li>Sledování změn v repositáři</li>
        </ul>
        '''
        duration: "3 hodiny"
        price: "1999 Kč"
        capacity: "4-10 lidí"
    4:
        name: "Úvod do Nette"
        trainer_name: "Štěpán Kocourek"
        trainer_photo: "stepan-kocourek.jpg"
        description: '''
        <ul>
            <li>adresářová struktura</li>
            <li>routování: vytváření odkazů a hezkých URL v jakékoliv podobě</li>
            <li>Model-View-Controller: presenter a životní cyklus</li>
            <li>úvod do formulářů</li>
            <li>Latte: silný šablonovací jazyk a dědění šablon</li>
            <li>Tracy Debugger a eliminace chyb</li>
        </ul>
        '''
        duration: "4 hodiny"
        price: "2499 Kč"
        capacity: "4-6 lidí"
