trainings:
    1:
        name: "Jak na rapidní vývoj a Continuous Delivery"
        trainer_name: "Ondřej Mirtes"
        trainer_photo: "ondrej-mirtes.jpg"
        description: '''
    Zkracování <a href='https://ondrej.mirtes.cz/zkracovani-feedback-loop'>feedback loop</a>:
        <br>
        <ul>
            <li>Kak tvořit zadání se zadavatelem tak, aby vývoj proběhl hladce a zadavatel obdržel to, co chce?
            <li>Jak zorganizovat práci v týmu a programovat tak, aby nedocházelo ke všemožným problémům, bugy na produkci, nefunkční aplikace?</li>
            <li>Continuous Integration - vytvoření build skriptu, rozběhání CI serveru, doporučení k problematice</li>
            <li>Přerod zastaralé aplikace v novou bez kompletního přepisu - strangler pattern, jak na refaktoring</li>
            <li>Bezvýpadkové databázové migrace, bezvýpadkové a časté nasazování nových verzí aplipkace</li>
        </ul>
        '''
        duration: "8 hodin"
        price: "4999 Kč"
        capacity: "4-8 lidí"
    2:
        name: "Ovládni PhpStorm &ndash; od základů po profi tipy"
        trainer_name: "Tomáš Fejfar"
        trainer_photo: "tomas-fejfar.jpg"
        description: '''
<ul>
    <li>základy nastavení projektu</li>
    <li>efektivní ovládání</li>
    <li>navigace v kódu</li>
    <li>refaktoring</li>
</ul>
        '''
        duration: "3 hodiny"
        price: "1599 Kč"
        capacity: "5-12 lidí"
    3:
        name: "Úvod do Gitu"
        trainer_name: "Václav Makeš"
        trainer_photo: "vaclav-makes.jpg"
        description: '''
        <ul>
            <li>motivace proč se ho učit</li>
            <li>use-cases jenž Git efektivně řeší</li>
            <li>pár slov k historii (opravdu pár, jen tak aby člověk věděl co používá a proč je to dobré, na jakých principech Git stojí)</li>
            <li>první kroky s verzováním - vlastní repo, první commity</li>
            <li>vypublikování repositáře na privátní nebo veřejný server</li>
            <li>sledování změn v repositáři</li>
        </ul>
        '''
        duration: "3 hodiny"
        price: "1999 Kč"
        capacity: "4-10 lidí"
