parameters:
    trainings:
        -
            name: "Jak na rapidní vývoj a Continuous Delivery"
            trainer_name: "Ondřej Mirtes"
            trainer_photo: "ondrej_mirtes.jpg"
            description: '''
        Zkracování <a href='https://ondrej.mirtes.cz/zkracovani-feedback-loop'>feedback loop</a>:
            <br>
            <ul>
                <li>Jak tvořit zadání se zadavatelem tak, aby vývoj proběhl hladce a zadavatel obdržel to, co chce?</li>
                <li>Jak zorganizovat práci v týmu a programovat tak, aby nedocházelo ke všemožným problémům, bugům na produkci nebo nefunkční aplikaci?</li>
                <li>Continuous Integration - vytvoření build skriptu, rozběhání CI serveru, doporučení k problematice</li>
                <li>Přerod zastaralé aplikace v novou bez kompletního přepisu - strangler pattern, jak na refaktoring</li>
                <li>Bezvýpadkové databázové migrace, bezvýpadkové a časté nasazování nových verzí aplikace</li>
            </ul>
            '''
            duration: "8 hodin"
            price: "4999 Kč"
            capacity: "4-8 lidí"
        -
            name: "Ovládni PhpStorm &ndash; od základů po profi tipy"
            trainer_name: "Tomáš Fejfar"
            trainer_photo: "tomas_fejfar.jpg"
            description: '''
    <ul>
        <li>Základy nastavení projektu</li>
        <li>Efektivní ovládání</li>
        <li>Navigace v kódu</li>
        <li>Refaktoring</li>
    </ul>
            '''
            duration: "3 hodiny"
            price: "1599 Kč"
            capacity: "5-12 lidí"
        -
            name: "Jak na pokročilou práci s Gitem"
            trainer_name: "Martin Hujer"
            trainer_photo: "martin_hujer.jpg"
            description: '''
            <p>V rámci školení se podíváme na pokročilejší práci s Gitem, která ti pomůže zefektivnit (nejen) práci v týmu.  Je dobré, abys už uměl základy práce s Gitem - alespoň commit, push a pull.
            <p>Školení bude probíhat formou workshopu, kdy si vždycky něco málo povíme a pak si vše budeš zkoušet na vlastním notebooku.</p>

            <p><strong>Osnova školení</strong></p>
            <ul>
                <li>Neboj se branchování. Feature-branche ti pomohou udržet pořádek v rozdělané práci.</li>
                <li>Kdy použít rebase a kdy raději merge?</li>
                <li>Jak pomocí interaktivního rebase získat elegantní historii commitů (squash, fixup a další kouzla)</li>
                <li>Jak psát výstižné commit messages</li>
                <li>Týmové workflow s Gitem</li>
                <li>Konfigurace Gitu</li>
            </ul>
            '''
            duration: "4 hodiny"
            price: "3499 Kč"
            capacity: "4-8 lidí"
        -
            name: "Tvorba zadání a komunikace se zákazníkem"
            trainer_name: "Petr 'PePa' Pavel"
            trainer_photo: "petr_pavel.jpg"
            description: '''
            <p>Nejčastější příčinou krachu projektu je špatná komunikace, ať už uvnitř týmu nebo se zákazníkem. Přes 10 let na volné noze mě vyškolilo. Přineste si svoje noční můry na workshop a probereme, jak jim šlo zabránit.</p>
            <ul>
                <li>co získáš, když budeš dělat zápisy z jednání</li>
                <li>proč je lepší, když zadání napíšeš ty</li>
                <li>v čem je aktivní přístup lepší a jak zákazníka vést</li>
                <li>s kým se o zadání bavit a na co se ptát</li>
                <li>ostych a uhýbání před konfrontací - stejně to nakonec rupne a bude větší průšvih</li>
                <li>sdílený dokument, e-mail, instant messenger, telefonát, schůzka - každý nástroj má svoje použití</li>
                <li>zadání: procesy a data; okrajové situace, chybové stavy, formuláře, drátěné modely</li>
            </ul>
            <p>
            Na podobné téma jsem měl přednášku, můžeš se podívat na
            <a href="https://www.youtube.com/watch?v=tDHSRE7qgrU" target="_blank">záznam</a> a
            <a href="http://pepa.info/prednasky/co-musi-programator-umet.pdf" target="_blank">slajdy</a>.
            </p>
            '''
            duration: "4 hodiny"
            price: "2499 Kč"
            capacity: "4-8 lidí"
        -
            name: "Začněte debugovat jako profíci s xdebugem!"
            trainer_name: "Jan Mikeš"
            trainer_photo: "jan_mikes.jpg"
            description: '''
            <p>Na školení začneme s nastavením xdebugu pro vaše IDE. Ukážeme si, k čemu se xdebug používá, co umí a jak vám rapidně zefektivní práci. Na reálných aplikacích a problémech si projdeme debugování od základů až po pokročilejší techniky.</p>
            <p><strong>Naučíte se jak debugovat:</strong></p>
            <ul>
                <li>Webové aplikace</li>
                <li>Latte a Twig šablony</li>
                <li>Testy</li>
                <li>CLI skripty</li>
                <li>REST api požadavky</li>
            </ul>
            <p><em>Je velmi pravděpodobné, že po absolvování školení, si budete ťukat na čelo, jak jste doposud mohli bez xdebugu v PHP programovat :-).</em></p>
            '''
            duration: "6 hodin"
            price: "3999 Kč"
            capacity: "5-10 lidí"

        -
            name: "Jak dělat open-source a vytěžit z něj maximum?"
            trainer_name: "Tomáš Votruba"
            trainer_photo: "tomas_votruba.jpg"
            description: '''
            <p>Na školení si ukážeme, jak využít open-source pro zisk znalostí, zkušeností i osobního brandu.</p>
            <p><strong>Naučíte se:</strong></p>
            <ul>
                <li>co je potřeba vědět, než začneš s prvním balíčkem</li>
                <li>jak použít open-source k učení</li>
                <li>shortest-experment loop - 5x rychlejší než ve tvé práci</li>
                <li>SOLID patterny v praxi</li>
                <li>jak psát "nesmrtelný" kód na první dobrou</li>
                <li>coding standardy, testování a automatický refaktoring</li>
                <li>composer, Github a Travis</li>
            </ul>
            <p>Na konci školení budeš vědět, jak udělat tvůj balíček v tvém oblíbeném frameworku a která část své aplikace bude mít tu čest jít ven.</p>
            '''
            duration: "3 hodiny"
            price: "1999 Kč"
            capacity: "3-6 lidí"
