<footer class="text-center">
  <ul class="list-inline">
    <li>
      <a href="/press" n:class="(isset($id) && $id === press) ? active">
        <em class="fa fa-cubes fa-fw"></em>
        Press
      </a>
    </li>
  </ul>
</footer>
