---
layout: _layouts/default.latte
title: Tak tohle už ani PHP neumí
outputPath: 404.html
---

{block content}
    <div class="container">
        <h2>Tak tohle už ani PHP neumí... Zkus <a href="https://pehapkari.cz/">to doma</a>.</h2>
    </div>
{/block}
