---
layout: default
permalink: none
title: Tak tohle už ani PHP neumí
---

{block content}
    <div class="container">
        <h2>Tak tohle už ani PHP neumí... Zkus <a href="https://pehapkari.cz/">to doma</a>.</h2>
    </div>
{/block}
