---
layout: default
subpage: true
hideMainPartners: true
---

{% block content %}

    <a name="content"></a>

<div class="section">
    <div class="container">
        <div class="row">
            <article class="blog-post">
                <header>
                    <img src="http://placekitten.com/200/200" class="pull-left post-thumbnail hidden-xs">

                    <a href="">
                        <h2>How to Use Symfony Bundles in Nette Without Rewriting DI Logic</h2>
                    </a>

                    <ul class="list-inline list-inline-box">
                        <li>
                            <em class="fa fa-calendar fa-fw"></em>
                            <time datetime="2016-10-Wed">
                                5. 10
                            </time>
                        </li>

                        <li>
                            <em class="fa fa-clock-o fa-fw"></em>
                            <strong>2 minutes of reading</strong>
                        </li>

                        <li>
                            <em class="fa fa-fw fa-comments"></em>
                            <a href="">2</a>
                        </li>
                    </ul>

                </header>

                <p>Every framework has its own unique Dependency Injection Container (DIC), where you register your services. <strong>Imagine a set of special glues that are required to add the same paper on different surfaces.</strong> Today I will show you how to use universal glue for Nette surface.

                </p>
                <div class="clearfix"></div>
            </article>

            <article class="blog-post">
                <header>
                    <a href="">
                        <h2>How to Use Symfony Bundles in Nette Without Rewriting DI Logic</h2>
                    </a>

                    <ul class="list-inline list-inline-box">
                        <li>
                            <em class="fa fa-calendar fa-fw"></em>
                            <time datetime="2016-10-Wed">
                                5. 10
                            </time>
                        </li>

                        <li>
                            <em class="fa fa-clock-o fa-fw"></em>
                            <strong>2 minutes of reading</strong>
                        </li>

                        <li>
                            <em class="fa fa-fw fa-comments"></em>
                            <a href="">2</a>
                        </li>
                    </ul>

                </header>

                <p>Every framework has its own unique Dependency Injection Container (DIC), where you register your services. <strong>Imagine a set of special glues that are required to add the same paper on different surfaces.</strong> Today I will show you how to use universal glue for Nette surface.

                </p>
                <div class="clearfix"></div>
            </article>

            <article class="blog-post">
                <header>
                    <img src="http://placekitten.com/200/200" class="pull-left post-thumbnail hidden-xs">

                    <a href="">
                        <h2>How to Use Symfony Bundles in Nette Without Rewriting DI Logic</h2>
                    </a>

                    <ul class="list-inline list-inline-box">
                        <li>
                            <em class="fa fa-calendar fa-fw"></em>
                            <time datetime="2016-10-Wed">
                                5. 10
                            </time>
                        </li>

                        <li>
                            <em class="fa fa-clock-o fa-fw"></em>
                            <strong>2 minutes of reading</strong>
                        </li>

                        <li>
                            <em class="fa fa-fw fa-comments"></em>
                            <a href="">2</a>
                        </li>
                    </ul>

                </header>

                <p>Every framework has its own unique Dependency Injection Container (DIC), where you register your services. <strong>Imagine a set of special glues that are required to add the same paper on different surfaces.</strong> Today I will show you how to use universal glue for Nette surface.

                </p>
                <div class="clearfix"></div>
            </article>
        </div>
    </div>
</div>

{% endblock %}
