---
layout: _layouts/default.twig
title: "Přečti si komunitní PHP blog"
id: blog
---

{% include "_snippets/infobar.twig" %}

<hr>

<div class="container section" id="blog">
    <h1 class="text-center">{{ title }}</h1>

    <br>

    <p class="text-center">
        <!-- inspired and taken from: https://github.com/yegor256/blog/blob/master/_layouts/default.html -->
        <form method="get" action="https://www.google.com/search" itemprop="potentialAction" itemscope="" itemtype="http://schema.org/SearchAction" class="col-md-4 pull-left">
            <meta itemprop="target" content="https://www.google.com/search?q={q}"/>
            <input name="sitesearch" value="pehapkari.cz" type="hidden"/>
            <input itemprop="query-input" type="text" id="search-query" class="form-control" required="required" name="q" placeholder="Search with Google..." autocomplete="off"/>
        </form>

        <a href="/blog/2018/04/11/how-anyone-can-write-a-post-here/" class="btn btn-success mr-3">
            <em class="fa fa-fw fa-plus"></em>
            Add your post
        </a>
        <a href="/rss.xml" class="btn btn-warning mr-3">
            <em class="fa fa-fw fa-rss"></em>
        </a>
        <a href="http://twitter.com/pehapkari" class="btn btn-info">
            <em class="fa fa-fw fa-twitter"></em>
        </a>
    </p>

    <hr>

    {% for post in posts %}
        {% if post.getDateInFormat('Y-m-d') <= "now"|date('Y-m-d') %}
            {# to see your future-dated article locally, use this address: localhost:8000/blog/<year>/<month>/<day>/<slug> #}
            {# e.g. 2017-02-06-how-to-rehash-legacy-passwords-in-symfony.md =>
                localhost:8000/blog/2017/02/06/how-to-rehash-legacy-passwords-in-symfony
            #}

            <div class="article">
                <h3>
                    <a href="/{{ post|link }}/">{{ post.title }}</a>
                </h3>

                <div class="row">
                    <div class="col-md-12">
                        {% include "_snippets/post/postMetadataLine.twig" with { "post": post } %}
                    </div>
                </div>

                <p class="perex">{{ post.perex|raw }}</p>
            </div>
            {% if loop.last == false %}<hr>{% endif %}
        {% endif %}
    {% endfor %}

    <br>
</div>
