---
layout: default
---

{% block content %}

    <div class="section">
        <div class="container" id="komunita">
            <div class="row">
                <h2 class="text-center">
                    <em class="fa fa-line-chart fa-fw"></em>
                    Komunita ti pomůže růst
                </h2>

                <br>

                <p>Vytváříme přirozené prostředí, ve kterém můžem snadněji než jinde:</p>
                <ul>
                    <li><strong>najít přátele</strong>, které baví dělat to, co tebe</li>
                    <li><strong>ochutnat nové technologie</strong>, které ti můžou usnadnit práci</li>
                    <li>najít fajn práci s fajn lidmi lidi, které <strong>poznáš osobně na srazu</strong> a ne až po
                        pohovoru s
                        HR
                    </li>
                    <li><strong>nakopnout dráhu</strong> speakra, školitele, střihače videí nebo organizátora
                        srazů :)
                    </li>
                </ul>
                {# todo: get personal claims #}
            </div>
        </div>
    </div>

    <div class="section intermezzo">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <em class="fa fa-twitter fa-fw"></em>
                    <strong>Sleduj novinky</strong> na <a href="http://twitter.com/pehapkari">@pehapkari</a>
                </div>
                <div class="col-md-6 text-center">
                    <em class="fa fa-facebook fa-fw"></em>
                    A <strong>srazy a konference</strong> na <a href="https://www.facebook.com/pehapkari/events">FB
                        stránce</a>
                </div>
            </div>
        </div>
    </div>

    <div class="section" id="base-triad">
        <div class="container" id="poradime">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>
                        <em class="fa fa-search fa-fw"></em>
                        Hledáš radu nebo směr?
                    </h2>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <img src="/assets/images/logos/php.png" alt="PHP">
                        </div>
                        <div class="panel-body text-left">
                            <p><strong>Řešíš problém?</strong></p>
                            <ul>
                                <li>
                                    běž na <a href="https://www.facebook.com/groups/pehapkari">skupinu na FB</a>
                                </li>
                                <li>
                                    nebo na <a href="https://diskuse.jakpsatweb.cz/?action=vtopic&forum=9">fórum
                                        jakpsatweb.cz</a>
                                </li>
                            </ul>

                            <hr>

                            <p><strong>Hledáš nebo nabízíš práci?</strong></p>

                            <ul>
                                <li>
                                    běž na <a href="https://www.facebook.com/groups/pehapkari.prace">skupinu na FB</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <img src="/assets/images/logos/nette.png" alt="Nette">
                        </div>
                        <div class="panel-body text-left">
                            <p><strong>Řešíš problém s Nette kódem?</strong></p>
                            <ul>
                                <li>
                                    nejrychleji na <a href="https://gitter.im/nette/nette/cs">gitteru</a>
                                </li>
                                <li>
                                    nebo pak na <a href="https://forum.nette.org/cs/">Nette fórum</a>
                                </li>
                            </ul>

                            <hr>

                            <p><strong>Řešíš něco jiného kolem Nette?</strong></p>

                            <ul>
                                <li>
                                    ozvi se <a href="http://honzacerny.com/">Honzovi Černému</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <img src="/assets/images/logos/symfony.png" alt="Symfony">
                        </div>
                        <div class="panel-body text-left">
                            <p><strong>Řešíš problém se Symfony kódem?</strong></p>
                            <ul>
                                <li>nejrychleji na <a href="http://gitter.im/webuni/symfony">gitteru</a></li>
                                <li>
                                    nebo pak na <a href="http://stackoverflow.com/search?q=question-here+%5Bsymfony%5D">Stackoverflow</a>
                                </li>
                            </ul>

                            <hr>

                            <p><strong>Řešíš něco jiného kolem Symfony?</strong></p>

                            <ul>
                                <li>
                                    ozvi se <a href="http://tomasvotruba.cz">Tomovi Votrubovi</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <img src="/assets/images/logos/laravel.png" alt="Laravel">
                        </div>
                        <div class="panel-body text-left">
                            <p><strong>Řešíš problém s Laravel kódem?</strong></p>
                            <ul>
                                <li>nejrychleji na <a href="https://pehapkari.slack.com">slacku</a>, channel <strong>#laravel</strong></li>
                                <li>
                                    nebo pak na <a href="https://laracasts.com/discuss">Laracasts fóru</a>
                                </li>
                            </ul>

                            <hr>

                            <p><strong>Řešíš něco jiného kolem Laravelu?</strong></p>

                            <ul>
                                <li>
                                    ozvi se <a href="mailto:me@jakubkratina.cz">Jakubovi Kratinovi</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <img src="/assets/images/logos/wordpress.png" alt="WordPress">
                        </div>
                        <div class="panel-body text-left">
                            <p><strong>Řešíš problém s WordPress kódem?</strong></p>
                            <ul>
                                <li>nejrychleji na <a href="https://wpcz.slack.com" target="_blank">slacku</a>, channel <strong>#dev_help</strong></li>
                                <li>
                                    nebo pak na <a href="http://stackoverflow.com/search?q=question-here+%5Bwordpress%5D">Stackoverflow</a>
                                </li>
                            </ul>

                            <hr>

                            <p><strong>Řešíš něco jiného kolem WordPressu?</strong></p>

                            <ul>
                                <li>
                                    běž na FB <a href="https://www.facebook.com/wordpresscr/" target="_blank">WordPress Česko</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="slack">
                <div class="col-md-12 text-center">
                    <h3 id="slack-info">Živě na Slacku</h3>
                    <a href="https://pehapkari.slack.com"><img src="/assets/images/logos/slack.png" alt="Slack"></a>
                    <p>
                        Spustili jsme <a href="https://pehapkari.slack.com">česko/slovenský PHP Slack (pehapkari.slack.com)</a>. <br>
                        Pozvánku si můžete vygenerovat na <a href="https://slackinvite.me/to/pehapkari">slackinvite.me/to/pehapkari</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="section intermezzo">
        <div class="container">
            <div class="row">
                <div class="col-md-5 text-center">
                    <em class="fa fa-youtube fa-fw"></em>
                    Podívej se na <a href="http://youtube.com/pehapkari/videos">přednášky na Youtube</a>
                </div>
                <div class="col-md-7 text-center">
                    <em class="fa fa-envelope fa-fw"></em>
                    Odebírej <a href="http://bit.ly/mesicnik-pro-pehapkare">měsíční newsletter</a>, kde ti to shrnem (<a
                            href="http://us8.campaign-archive2.com/home/?u=dcf4beafc191796bf6c47321f&id=c4f7564a7b">starší čísla</a>)
                </div>
            </div>
        </div>
    </div>

    <div class="section" id="meetup-inivite">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <img src="/assets/images/meetup.jpg" alt="Přijď na sraz">
                </div>
                <div class="col-lg-6">
                    <h2>
                        <em class="fa fa-fw fa-beer"></em>
                        Přijď na sraz
                    </h2>

                    <p>
                        O srazy se starají organizátoři v celé zemi. <strong>V Praze, Brně, Ostravě...</strong>.
                        <br>
                        Dozvíš se o nich na <a href="https://www.facebook.com/pehapkari">Facebook stránce</a>.
                    </p>

                    <p>
                        Kdo všechno a kde je pořádá? To ještě připravujeme :)
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="section intermezzo">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <em class="fa fa-group fa-fw"></em>
                    V černu 2016 proběhla <strong>PHP Prague konferece</strong> - <a href="/konference/php-prague-2016-v-paralelnim-polis">mrkni jak vypadala a
                        pusť si záznamy</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
