---
layout: default
---

{% block content %}

<div class="section">
    <div class="container">
        <div class="row">
            <h2 class="text-center">
                <em class="fa fa-line-chart fa-fw"></em>
                Komunita ti pomůže růst
            </h2>

            <br>

            <p>Vytváříme přirozené prostředí, ve kterém můžem snadněji než jinde:</p>
            <ul>
                <li><strong>najít přátele</strong>, které baví dělat to, co tebe</li>
                <li><strong>ochutnat nové technologie</strong>, které ti můžou usnadnit práci</li>
                <li>najít fajn práci s fajn lidmi lidi, které <strong>poznáš osobně na srazu</strong> a ne až po
                    pohovoru s
                    HR</li>
                <li><strong>nakopnout dráhu</strong> speakra, školitele, střihače videí nebo organizátora
                    srazů :)</li>
            </ul>
            {# todo: get personal claims #}
        </div>
    </div>
</div>

<div class="section intermezzo">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <em class="fa fa-twitter fa-fw"></em>
                <strong>Sleduj novinky</strong> na <a href="http://twitter.com/pehapkari">@pehapkari</a>
            </div>
            <div class="col-md-6 text-center">
                <em class="fa fa-facebook fa-fw"></em>
                A <strong>srazy a konference</strong> na <a href="https://www.facebook.com/pehapkari">FB
                    stránce</a>
            </div>
        </div>
    </div>
</div>

<div class="section" id="base-triad">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>
                    <em class="fa fa-search fa-fw"></em>
                    Hledáš radu nebo směr?
                </h2>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-4 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <img src="/assets/images/logos/php.png" alt="PHP">
                    </div>
                    <div class="panel-body text-left">
                        <p><strong>Řešíš problém?</strong></p>
                        <ul>
                            <li>
                                běž na <a href="https://www.facebook.com/groups/pehapkari">skupinu na FB</a>
                            </li>
                            <li>
                                nebo na <a href="https://diskuse.jakpsatweb.cz/?action=vtopic&forum=9">fórum
                                    jakpsatweb.cz</a>
                            </li>
                        </ul>

                        <hr>

                        <p><strong>Hledáš nebo nabízíš práci?</strong></p>

                        <ul>
                            <li>
                                běž na <a href="https://www.facebook.com/groups/pehapkari.prace">skupinu na FB</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <img src="/assets/images/logos/nette.png" alt="Nette">
                    </div>
                    <div class="panel-body text-left">
                        <p><strong>Řešíš problém s Nette kódem?</strong></p>
                        <ul>
                            <li>
                                nejrychleji na <a href="https://gitter.im/nette/nette/cs">gitteru</a>
                            </li>
                            <li>
                                nebo pak na <a href="https://forum.nette.org/cs/">Nette fórum</a>
                            </li>
                        </ul>

                        <hr>

                        <p><strong>Řešíš něco jiného kolem Nette?</strong></p>
                        <p>
                            <ul>
                                <li>
                                    ozvi se <a href="http://honzacerny.com/">Honzovi Černému</a>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <img src="/assets/images/logos/symfony.png" alt="Symfony">
                    </div>
                    <div class="panel-body text-left">
                        <p><strong>Řešíš problém se Symfony kódem?</strong></p>
                        <ul>
                            <li>nejrychleji na <a href="http://gitter.im/webuni/symfony">gitteru</a></li>
                            <li>
                                nebo pak na <a href="http://stackoverflow.com/search?q=question-here+%5Bsymfony%5D">Stackoverflow</a>
                            </li>
                        </ul>

                        <hr>

                        <p><strong>Řešíš něco jiného kolem Symfony?</strong></p>
                        <p>
                            <ul>
                                <li>
                                    ozvi se <a href="http://tomasvotruba.cz">Tomovi Votrubovi</a>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section intermezzo">
    <div class="container">
        <div class="row">
            <div class="col-md-5 text-center">
                <em class="fa fa-youtube fa-fw"></em>
                Podívej se na <a href="http://youtube.com/pehapkari/videos">přednášky na Youtube</a>
            </div>
            <div class="col-md-7 text-center">
                <em class="fa fa-envelope fa-fw"></em>
                Odebírej <a href="http://bit.ly/mesicnik-pro-pehapkare">měsíční newsletter</a>, kde ti to shrnem (<a href="http://us8.campaign-archive2.com/home/?u=dcf4beafc191796bf6c47321f&id=c4f7564a7b">starší čísla</a>)
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>
                    <em class="fa fa-fw fa-beer"></em>
                    Přijď na pokec
                </h2>

                <p>
                    Pořádáme srazy po celé zemi - <strong>v Praze, Brně, Ostravě, Hradci Králové, Českých Budějovicích a Pardubicích</strong>.
                </p>
                <p>
                    Na každém srazu zazní 2-3 přednášky z praxe. Během večera tak poznáš hned několik nových technologií.
                    <br>
                    Uniklo ti něco? <a href="https://www.youtube.com/pehapkari">Mrkni na záznamy na Youtube</a>.
                </p>

                <div class="row">
                    <div class="col-md-2">
                        <h3>Praha</h3>

                        <ul>
                            <li>prostory a program řeší Tomáš Votruba</li>
                            <li>moderuje Ondra Machulda</li>
                            <li>natáčí a stříha Martin Zeman</li>
                            <li>nálepky a rollupy vozí Dennis Fridrich</li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h3>Ostrava</h3>

                        <ul>
                            <li>Matěj Kapošváry</li>
                            <li>Shopsys.cz</li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h3>Brno</h3>

                        <ul>
                            <li>Martin Mayer</li>
                            <li>Pavel Rozehnal</li>
                            <li>Martin Hasoň</li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h3>Hradek Králové</h3>

                        <ul>
                 i           <li>Milan Šulc</li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h3>Pardubice</h3>

                        <ul>
                            <li>Filip...</li>
                            <li>Digital Solutions.cz</li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h3>České Budějovice</h3>

                        <ul>
                            <li>Nikol Ježková</li>
                        </ul>
                    </div>
                </div>

                Cheš založit ve vlastním městě, napiš tomas
                Chceš se přidat, napiš organizátorovi :)
            </div>
        </div>
    </div>
</div>

{% endblock %}
