---
layout: default
---

{% block content %}

<div class="section">
    <div class="container">
        <div class="row">
            <h2 class="text-center">
                <em class="fa fa-fw fa-comments"></em>
                Přijď na pokec
            </h2>
        </div>

        <div class="row text-center">
            <p>
                Po celé zemi najdeš <strong>místní komunity, které pořádají srazy k PHP</strong>.
            </p>

            <p>
                Na každém srazu zazní 2-3 přednášky z praxe. Během večera tak poznáš hned několik nových technologií.
                <br>
                Uniklo ti něco? <a href="https://www.youtube.com/pehapkari">Mrkni na záznamy na Youtube</a>.
            </p>

            <hr>

            <div class="row">

                <div class="col-md-4 text-center">
                    <div class="panel panel-tirkis">
                        <div class="panel-heading">
                            <strong>Praha</strong>
                            <br>
                            Péhápkaři
                        </div>
                        <div class="panel-body text-left">
                            <p>Organizuje <a href="http://www.tomasvotruba.cz/">Tomáš Votruba</a></p>
                            <p>Moderuje <a href="http://o.vlastovka.eu/">Ondra Machulda</a></p>
                            <p>Fotí a jinak pomáhá <a href="http://honzacerny.com/">Honza Černý</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 text-center">
                    <div class="panel panel-tirkis">
                        <div class="panel-heading">
                            <strong>Ostrava</strong>
                            <br>
                            PHP Live
                        </div>
                        <div class="panel-body text-left">
                            Organizuje <a href="https://shopsys.cz">Shopsys</a>
                            {# konkrétní člověk? #}

                            <hr>

                            Sleduj <a href="https://twitter.com/phpliveostrava">@phpliveostrava</a>
                            <br>
                            a <a href="https://www.facebook.com/pg/pehapelive/events/">akce na FB stránce</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 text-center">
                    <div class="panel panel-tirkis">
                        <div class="panel-heading">
                            <strong>Poslední sobota</strong>
                            <p>Celá ČR</p>
                        </div>
                        <div class="panel-body text-left">
                            Organizuje <a href="https://honzacerny.com">Honza Černý</a>

                            <hr>

                            Sleduj <a href="https://twitter.com/posobota">@posobota</a>
                            <br>
                            a <a href="https://www.facebook.com/pg/nettefw/events">akce na FB stránce</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-md-4 text-center">
                    <div class="panel panel-tirkis">
                        <div class="panel-heading">
                            <strong>České Budějovice</strong>
                            <br>
                            PHP Evenings
                        </div>
                        <div class="panel-body text-left">
                            Organizuje <a href="https://twitter.com/roxtri_cz">Nikol Ježková</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 text-center">
                    <div class="panel panel-tirkis">
                        <div class="panel-heading">
                            <strong>Brno</strong>
                            <br>
                            Symfonisti
                        </div>
                        <div class="panel-body text-left">
                            <p>Organizují <a href="https://twitter.com/mayermartin">Martin Mayer</a>,
                                <a href="https://twitter.com/spicimedved">Petr Jaša</a>
                                a <a href="https://twitter.com/hasonm">Martin Hasoň</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 text-center">
                    <div class="panel panel-tirkis">
                        <div class="panel-heading">
                            <strong>Hradek Králové + Pardubice</strong>
                            <br>
                            Péhápkaři
                        </div>
                        <div class="panel-body text-left">
                            <p>
                                Organizují <a href="https://jfx.cz/">Milan Šulc</a> a <a href="https://www.digitalsolutions.cz/">Digital Solutions.cz</a>
                            </p>
                        </div>
                    </div>
                </div>


            </div>

            <h3>Chceš rozjet srazy ve tvém městě a nevíš jak na to?</h3>

            <p>Napiš <a href="mailto:tomas@pehapkari.cz">Tomovi</a> - rádi ti s organizací pomůže a naučíme tě to</p>
        </div>

    </div>
</div>

<div class="section grey-bg">
    <div class="container">

        <div class="row">
            <h2 class="text-center">
                <em class="fa fa-fw fa-beer"></em>
                Jen na pivko?
            </h2>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <a href="https://fb.me/nettefwpivo" class="btn-lg btn-info" title="#nettefwpivo">#nettefwpivo</a>
                <a href="#" class="btn-lg btn-warning" title="#phppivo">#phppivo</a>
            </div>
        </div>

    </div>
</div>

<div class="section">
    <div class="container">

        <div class="row">
            <h2 class="text-center">
                <em class="fa fa-fw fa-users"></em>
                Vyraž na konferenci
            </h2>
        </div>

        <div class="row">
            <div class="col-md-4 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>PHP Prague</strong>
                    </div>
                    <div class="panel-body text-left">
                        Organizují Honza Černý, Martin Zeman, Tomáš Kormaňák, Tomáš Klíma a Tomáš Votruba

                        <hr>

                        Sleduj <a href="https://twitter.com/phpprague">@phpprague</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>PHP Live</strong>
                    </div>
                    <div class="panel-body text-left">
                        <p>
                            Organizuje <a href="https://shopsys.cz/">Shopsys</a>

                            <hr>

                            Sleduj <a href="https://twitter.com/phpliveostrava">@phpliveostrava</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Brno PHP</strong>
                    </div>
                    <div class="panel-body text-left">
                        <p>
                            Organizuje <a href="https://www.brnophp.cz/contact/">Brno PHP</a>

                            <hr>

                            Sleduj <a href="https://twitter.com/brnophp">@brnophp</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
