---
layout: default
---

{% block content %}

<div class="section meetings">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>
                    <em class="fa fa-fw fa-beer"></em>
                    Přijď na pokec
                </h2>
                <p>
                    Pořádáme srazy po celé zemi. V <strong>Praze, Brně, Ostravě, Hradci Králové, Českých Budějovicích, Pardubicích, Hradci Králové a dalších</strong>.
                </p>
                <p>
                    Na každém srazu zazní 2-3 přednášky z praxe. Během večera tak poznáš hned několik nových technologií.
                    <br>
                    Uniklo ti něco? <a href="https://www.youtube.com/pehapkari">Mrkni na záznamy na Youtube</a>.
                </p>

                <div class="row cities">
                    <div class="col-md-4">
                        <h3>Praha</h3>

                        <ul>
                            <li>prostory a program řeší <strong>Tomáš Votruba</strong></li>
                            <li>moderuje <strong>Ondra Machulda</strong></li>
                            <li>natáčí a stříha <strong>Martin Zeman</strong></li>
                            <li>nálepky a rollupy vozí <strong>Dennis Fridrich</strong></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3>Brno</h3>

                        <ul>
                            <li>Martin Mayer</li>
                            <li>Pavel Rozehnal</li>
                            <li>Martin Hasoň</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3>Ostrava</h3>

                        <ul>
                            <li>Matěj Kapošváry</li>
                            <li><a href="https://www.shopsys.cz/">ShopSys</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row cities">
                    <div class="col-md-4">
                        <h3>Hradec Králové</h3>

                        <ul>
                           <li>Milan Šulc</li>
                           <li><a href="http://hanaboso.com">HANABOSO</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3>Pardubice</h3>

                        <ul>
                            <li>Filip Šimerda</li>
                            <li><a href="https://www.digitalsolutions.cz/">DigitalSolutions</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3>České Budějovice</h3>

                        <ul>
                            <li>Nikol Ježková</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section intermezzo">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                Chceš uskutečnit sraz ve vlastním městě, napiš nám na
                <a href="mailto:tomas@pehapkari.cz?subject=Nový%20sraz">tomas@pehapkari.cz</a>.
            </div>
        </div>
    </div>
</div>

{% endblock %}
