---
layout: default
subpage: true
---

{% block content %}

<div class="section">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h2>
                    Jak si nainstalovat PHP
                </h2>

                <div class="companies">
                    <div class="city">
                        <em class="fa fa-fw fa-windows"></em>
                        Pro Windows, 
                        <em class="fa fa-fw fa-apple"></em>
                        Mac i
                        <em class="fa fa-fw fa-linux"></em>
                        Linux
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-left">
                            <ul>
                                <li>stáhni si <a href="https://www.apachefriends.org/download.html">XAMPP</a> pro <strong>PHP 7</strong></li>
                                <li>a nainstaluj</li>
                                <li>Pokud máš Windows, tak jdi do složky <code>c:\Program Files (x86)\JetBrains\*\bin</code>
                                a otevři soubor <code>idea.properties</code>.</li>
                                <li>V onom souboru nastav <code>idea.fatal.error.notification</code> na <code>false</code> a na 
                                konec souboru přidej <code>actionSystem.force.alt.gr=true</code>.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <hr>

                <h2>
                    Kde stáhnout šikovný PHP editor?
                </h2>

                <div class="companies">
                    <p>
                        Pracovat budeme s programem <strong>PHPStorm</strong>.
                        <br>
                        Zdarma ke stažení je verze, která ti bude fungovat po 30 dní.
                    </p>

                    <p>
                        <a href="https://www.jetbrains.com/phpstorm/download" class="btn btn-success">Stáhni si ji tady</a>
                    </p>
                    
                    <br>
                    <br>
                    <br>
                    <br>

                    <h3>A co po těch 30 dnech?</h3>

                    <p>
                        Pokud budeš chtít používat editor déle, můžeš využít <a href="https://confluence.jetbrains.com/display/PhpStorm/PhpStorm+Early+Access+Program">EAP (Early Access Program) verzi</a>.
                        Ta je platná vždy měsíc od vydání.
                        <br>
                        Mnoho z nás to tak dělá, než si editor ošahá v praxi a rozhodne si ho opravdu koupit.
                    </p>
                    
                    <p>
                        Nebo můžeš přijít <a href="https://www.facebook.com/symfonisti">na naše srazy</a>. Každý měsíc tam o 2 soutěžíme :).
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
