---
layout: default
hideMainPartners: true
---

{% block content %}

<div class="section">
    <div class="container">
        <div class="row">
            <h2 class="text-center">
                <em class="fa fa-trophy fa-fw"></em>
                Soutěž o vstup na SymfonyCon v hodnotě 10 000 Kč
            </h2>
        </div>

        <div class="row">
            <div class="col-md-8">
                <h2>
                    <em class="fa fa-info fa-fw"></em>
                    O co jde?
                </h2>

                <ul class="text-greater">
                    <li>1.-3. prosince 2016 se v Berlíně koná <a href="http://berlincon2016.symfony.com/">konference SymfonyCon</a></li>
                    <li>vývojáři z <strike>Shipita</strike>, teď už <a href="http://www.gbinternational.com.hk/">GoodBaby</a> tam jedou a <strong>chtějí vzít jednoho z vás sebou</strong></li>
                    <li>tak jsme dali hlavy dohromady a připravili tuhle soutěž</li>
                </ul>

                <hr>

                <h2>
                    <em class="fa fa-sign-in fa-fw"></em>
                    3 kroky pro účast v soutěži
                </h2>

                <p class="text-greater">
                    1. <strong>Retweetni</strong> <a href="...">tweet se soutěží</a>
                    <br>
                    2. <strong>Dej follow</strong> vývojářskému účtu <a href="https://twitter.com/goodbabydev">@goodbabydev</a>
                    <br>
                    3. A pošli nám na Github 2-3 věty o tom, proč jsi začal s PHP
                        <ul class="text-greater" style="margin-left:1em">
                            <li>
                                <a href="https://github.com/pehapkari/pehapkari.cz/new/master/source/contest/symfonycon">vytvoř nový soubor</a> u našeho repositáře</li>
                            <li>pojmenuj ho <code>tvuj-twitter-ucet.txt</code></li>
                            <li>napiš to tam a pošli PR</li>
                        </ul>
                    <br>
                </p>

                <hr>

                <p class="text-greater">
                    Soutěž jede <strong>do pátku 18. listopadu</strong>, kdy vylosujeme jednoho z vás!
                </p>
            </div>
            <div class="col-md-4 text-center">
                <img src="/assets/images/contest/symfonycon.png" alt="" class="thumbnail">
            </div>
        </div>
    </div>
</div>

{% endblock %}
