---
layout: default
---

{% block content %}

<div class="section">
    <div class="container">
        <div class="row text-center" id="sponsors">
            <div class="col-md-12">
                <h2>
                    <em class="fa fa-heart fa-fw"></em>
                    &nbsp;
                    Staňte se našimi partnery
                </h2>

                <p>Podívejte se, co už jsme vybudovali, na koho tím cílíme a <strong>jak vám konkrétně můžeme pomoct</strong>.</p>
                <p>Hledáte vývojáře do firmy, jste HR agentura nebo poskytujete hosting? Jste tu správně, pokračujte!</p>

                <hr>

                <h3>
                    <em class="fa fa-crosshairs fa-fw"></em>
                    &nbsp;
                    Na koho cílíme?
                </h3>

                <p>
                    Sledují nás lidé, které zajímá PHP, Symfony, Nette, Drupal, Laravel, Wordpress, PHP a webové technologie.
                    <br>
                    Jsme <strong>nejrychleji rostoucí česká PHP komunita</strong>. Před rokem nás bylo 0. Teď už máme silnou uživatelskou základnu:
                </p>

                <div class="row" id="stats">
                    <div class="col-md-3">
                        <a href="http://twiter.com/symfonisti">
                            <em class="fa fa-twitter fa-fw"></em>
                            300+ followerů
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="https://www.facebook.com/symfonisti">
                            <em class="fa fa-facebook fa-fw"></em>
                            165+ fanoušků
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="https://www.facebook.com/groups/ceska.symfony.komunita">
                            <em class="fa fa-facebook fa-fw"></em>
                            225+ lidí ve skupině
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="https://www.youtube.com/channel/UCTBgI1P8xIn2pp2BBHbv5mg">
                            <em class="fa fa-youtube fa-fw"></em>
                            1900+ shlédnutí
                        </a>
                    </div>
                </div>

                <hr>

                <h3>
                    <em class="fa fa-twitter fa-fw"></em>
                    Přes 100 lidí přijde na naše srazy každý měsíc
                </h3>

                <div class="row" id="stats">
                    <div class="col-md-4">
                        <strong>60-70 lidí</strong> v Praze
                    </div>
                    <div class="col-md-4">
                        <strong>15-20 lidí</strong> v Brně
                    </div>
                    <div class="col-md-4">
                        <strong>10-15 lidí</strong> v Ostravě
                    </div>
                </div>

                <hr>
                <hr>
                <hr>
                <hr>

                Work in progress...

                <h3>Jak se můžete stát partnerem?</h3>

                <hr>

                <ul>
                    <li>HR okénko - 2-5 minuty pro prezentaci vaší firmy mezi přednáškami</li>
                    <li>rollupy a letáky</li>
                    <li>logo ve videu</li>
                </ul>

                <h2>Co za sponzrování srazu?</h2>

                <ul>
                    <li>Propagaci během konání srazu (bannery, letáky).</li>
                    <li>Poděkování a odkaz na sociálních sítích (Twitter, Facebook) - prolinkovat!.</li>
                    <li>Vaše logo na úvodní obrazovce všech videí natočených během srazu - prolinkovat!.</li>
                    <li>Propagace během konání srazu (umístění bannerů, rollupů, letáků v prostoru konání, možnost krátkého vystoupení mezi přednáškami např. s pracovní nabídkou)</li>
                    <li>Uvedení mezi sponzory srazu v pozvánkách na akci (Facebook, srazy.info)</li>
                    <li>Poděkování po akci a možnost připojení odkazu např. na pracovní inzerát (Facebook, Twitter)</li>
                    <li>Vaše logo na začátku každého záznam přednášky natočené během srazu</li>
                    <li>HR okénko</li>
                </ul>

                <h3>
                    <em class="fa fa-building fa-fw"></em>
                    &nbsp;
                    Co potřebujeme - vybudovat silnout komunitu
                </h3>

                <p>
                    Čím jsme silnější, tím více z toho můžete těžit.
                </p>

                <ul>
                    <li>poskytnutí prostor + zajištění občerstvení</li>
                    <li>finance na růst a pevné zázazemí komunity</li>
                    <ul>
                        <li>natáčení a zpracování záznamů</li>
                        <li>budování značky na internetu</li>
                        <li>přípava konference</li>
                        <li>realizujeme marketingové akce kolem Symfony</li>
                        <li>pronájem prostor pro konání srazů</li>
                        <li>komunikujeme o spolupráci se SensioLabs, firmou stojící za rozvojem Symfony</li>
                    </ul>
                </ul>

                <hr>

                <p>Obvyklá částka od sponzorů se pohybuje mezi 3 000 Kč a 10 000 Kč. Záleží na vašich potřebách a prostoru.</p>

                <hr>

                <div class="text-center">

                    Napište nám na <a href="info@symfony.cz">info@symfony.cz</a> nebo zavolejte <a href="callto:+420776778332">776 778 332</a>.
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
