---
layout: default
subpage: true
---

{% block content %}

<div class="section white">
    <div class="container">
        <div class="row text-center" id="sponsors">
            <div class="col-md-12">
                <h2>
                    <em class="fa fa-heart fa-fw"></em>
                    &nbsp;
                    Staňte se naším partnerem
                </h2>

                <p>Hledáte vývojáře do firmy, chcete být vidět v komunitě nebo jste HR agentura? Jste tu správně, pokračujte!</p>
                <p>Podívejte se, co už jsme vybudovali, na koho tím cílíme a <strong>jak vám konkrétně můžeme pomoct</strong>.</p>

                <hr>

                <h3>
                    <em class="fa fa-crosshairs fa-fw"></em>
                    &nbsp;
                    Na koho cílíme?
                </h3>

                <p>
                    Sledují nás lidé, které zajímá PHP, Symfony, Nette, Drupal, Laravel, Wordpress, PHP a webové
                    technologie.
                </p>
                <p>
                    Jsme <strong>nejrychleji rostoucí česká PHP komunita</strong>. Před rokem nás bylo jen pár. Teď už
                    máme silnou uživatelskou základnu:
                </p>

                <div class="row" id="stats">
                    <div class="col-md-3">
                        <a href="http://twiter.com/symfonisti">
                            <em class="fa fa-twitter fa-fw"></em>
                            362+ followerů
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="https://www.facebook.com/symfonisti">
                            <em class="fa fa-facebook fa-fw"></em>
                            213+ fanoušků
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="https://www.facebook.com/groups/ceska.symfony.komunita">
                            <em class="fa fa-facebook fa-fw"></em>
                            242+ lidí ve skupině
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="https://www.youtube.com/symfonisti">
                            <em class="fa fa-youtube fa-fw"></em>
                            2680+ shlédnutí
                        </a>
                    </div>
                </div>

                <hr>

                <h3>
                    <em class="fa fa-line-chart fa-fw"></em>
                    &nbsp;
                    Přes 100 lidí přijde na naše srazy každý měsíc
                </h3>

                <div class="row" id="stats">
                    <div class="col-md-3">
                        <a href="https://www.facebook.com/events/949288058503673">
                            <strong>70+ lidí</strong> v Praze
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="https://www.facebook.com/events/1683169795283856">
                            <strong>15+</strong> v Brně
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="https://www.facebook.com/events/1749108098642179">
                            <strong>15+</strong> v Ostravě
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="https://www.facebook.com/events/558229457684135">
                            a <strong>5</strong> v Hradci Králové
                        </a>
                    </div>
                </div>

                <hr>

                <h3>
                    <em class="fa fa-female"></em>
                    <em class="fa fa-male fa-fw"></em>
                    &nbsp;
                    Jak se stát partnery?
                </h3>

                <br>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>Partner srazu</strong> - 5 000 Kč
                                <br>
                                <small>(max. 3 na sraz)</small>
                            </div>
                            <div class="panel-body text-left">
                                <p>
                                    <strong>Pro vás</strong>
                                </p>

                                <ul>
                                    <li>propagaci na místě během srazu - rollupy, letáky nebo inzeráty</li>
                                    <li>poděkování a odkaz v pozvánce na akci na <a href="http://twitter.com/symfonisti">Twitteru</a>,  <a href="http://facebook.com/symfonisti">Facebooku</a> a <a href="http://srazy.info/hledat/?s=symfony">Srazy.info</a></li>
                                    <li>3 minutové vystoupení mezi přednáškami, např. s pracovní nabídkou</li>
                                    <li>vaše logo na úvodní obrazovce <a href="https://www.youtube.com/symfonisti">všech videí natočených během srazu</a></li>
                                </ul>
                            </div>
                        </div>

                        <br>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>Propagace na sociálních sítích</strong>
                                - 2000 Kč
                            </div>
                            <div class="panel-body text-left">
                                <p>
                                    <strong>Pro vás</strong>
                                </p>

                                <ul>
                                    <li>zpropagujeme vaši zprávu přímo cílové skupině</li>
                                    <li>přes <a href="http://twitter.com/symfonisti">Twitter</a></li>
                                    <li>na naší <a href="http://facebook.com/symfonisti">Facebooku stránce</a></li>
                                    <li>a můžeme využít i náš <a href="https://www.youtube.com/channel/UCTBgI1P8xIn2pp2BBHbv5mg">Youtube kanál</a></li>
                                </ul>
                            </div>
                        </div>

                        <br>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>Stálí partneři</strong>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <a href="https://www.jetbrains.com/phpstorm">
                                        <img src="{{ site.url }}/images/sponsors/jetbrains.png">
                                    </a>
                                </p>
                                <p>...obohacují srazy soutěží o <strong>roční licence</strong></p>
                                <hr>
                                <p>
                                    <a href="https://rosti.cz/">
                                        <img src="{{ site.url }}/images/sponsors/rosti.png">
                                    </a>
                                </p>
                                <p>...každý měsíc podpoří srazy <strong>2000 kredity</strong></p>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="text-center">
                    <h3>
                        <em class="fa fa-thumbs-o-up fa-fw"></em>
                        &nbsp;
                        Máte zájem o partnerství nebo máte jiný nápad?
                    </h3>

                    Napište nám na <a href="mailto:info@symfony.cz">info@symfony.cz</a> nebo zavolejte <a href="callto:+420776778332">776 778 332</a>.
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
