/* colors */
$white: #FFFFFF;
$black: #100E1C;
$blue: #4A81D7;
$green: #90D261;
$facebook: #3B5998;
$grey: #E6E6E6;

/* font-sizes */
$font-size-xs: 15px;
$font-size-s: 16px;
$font-size-default-mobile: 18px;
$font-size-default: 20px;
$font-size-m: 24px;
$font-size-l: 28px;
$font-size-xl-mobile: 32px;
$font-size-xl: 40px;
$font-size-xxl: 72px;

/* font-family */
$font-family-primary: 'Source Sans Pro', sans-serif;
$font-family-secondary: 'sofia-pro';

/* font-opacity */
$font-opacity-low: 0.9;
$font-opacity-high: 0.7;
